{% include 'breadcrumbs' %}
<section class="page-hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="work fs47 fw200  mt-5">An Easy Way to Shield Your Website from Known & Unknown Threats</h2>
        <p class="FeatureText-Level2 green-text">Cloud-Based Fortification Against Today’s Virtual Invaders & Cyber Threats</p>
        <p>It’s automatically deployed with cWatch Web and requires no maintenance or upkeep, it’s a fully-managed WAF by Comodo designed to clean your pipes. This robust intrusion prevention system analyzes, detects, blocks and filters bad traffic in real-time to eliminate vulnerabilities and protect your website from modern-day threats and attacks—even complex Distributed-Denial-of-Service (DDoS) attacks, SQL Injection and Cross-Site Scripting to name a few. </p>
      </div>
    </div>
  </div>
</section>
<!-- SVG BG -->
<section class="fire-wall"></section>
<!-- End -->
<section class="fire-wall-tabs">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="HeaderA-Level3">With Comodo’s managed Web Application Firewall (WAF), it will...</p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-4">
        <div class="nav flex-column nav-pills mont fs14 vert-tabs-green" id="firewall-tabs" role="tablist" aria-orientation="vertical">
          <a class="mb-2 nav-link active position-relative" id="v-pills-home-tab" data-toggle="pill" href="#Advanced" role="tab" aria-controls="Advanced" aria-selected="true">
            <div class="row">
              <div class="col-sm-2">
                {% include 'icon-green-check' %} 
              </div>
              <div class="col-sm-10 text-left">
                Block Malicious Traffic
              </div>
            </div>
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-profile-tab" data-toggle="pill" href="#Detection" role="tab" aria-controls="Detection" aria-selected="false">
            <div class="row">
              <div class="col-sm-2">
                {% include 'icon-green-check' %} 
              </div>
              <div class="col-sm-10 text-left">
                Provide DDoS Protection
              </div>
            </div>
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-messages-tab" data-toggle="pill" href="#Monitoring" role="tab" aria-controls="Monitoring" aria-selected="false">
            <div class="row">
              <div class="col-sm-2">
                {% include 'icon-green-check' %} 
              </div>
              <div class="col-sm-10 text-left">
                Automatically Update
              </div>
            </div>
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#Website" role="tab" aria-controls="Website" aria-selected="false">
            <div class="row">
              <div class="col-sm-2">
                {% include 'icon-green-check' %} 
              </div>
              <div class="col-sm-10 text-left">
                Protect Against OWASP Top 10 
              </div>
            </div>
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#manage" role="tab" aria-controls="manage" aria-selected="false">
            <div class="row">
              <div class="col-sm-2">
                {% include 'icon-green-check' %} 
              </div>
              <div class="col-sm-10 text-left">
                Prevent Bot & Brute Force Attacks 
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-8 text-left d-flex flex-column justify-content-center">
        <div class="tab-content" id="protect-tabContent">
          <div class="tab-pane fade show active" id="Advanced" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-lg-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Detection" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-lg-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Monitoring" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-lg-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Website" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-lg-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="manage" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-lg-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>