{% include 'breadcrumbs' %}
<section class="page-hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="work fs47 fw200  my-5">Scalable Security Solutions for <br>Any Website, Any Budget</h2>
        <p class="w-75 mx-auto">Hiring an internal IT security team to monitor threats, identify risks and respond to incidents is completely out of range for most companies. But, with cWatch Web, you can instantly reap the benefits of fully managed security and innovative technology — built on 20 years of security intelligence and experience — at a price that won’t break your budget. Put your worries aside—get comprehensive security for less than $1 per day.</p>
        <p class="HeaderB-Level4">Worry-Free Website Security is Now Just a Click Away</p>
      </div>
    </div>
  </div>
</section>
<section class="price-block mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 px-0">
        <div class="border-left border-top border-grey-light d-flex flex-column justify-content-center align-items-center text-center darkish-blue-text mh-387">
          <p class="fs17 mont fw600 m-1">Need Help?</p>
          <a href="tel:1884815388" class="m-1 work fs19 fw600 darkish-blue-text">1 (888) 481 5388</a>
          <a href="tel:" class="btn btn-outline-darkblue btn-longer btn-rd m-1 mont fs10 text-uppercase fw500">{% include 'icon-chat-dots-blue-dark' %} chat</a>
        </div>
      </div>
      <div class="col-sm-3 px-0">
        <div class="price-box border-grey-light border-top border-left border-right text-center mh-387">
          <p class="mont green-text font-weight-bold mb-3">Pro</p>
          <p class="work fs47 price green-text fw500"> <span class="dollar-sign fs26 fw300">$</span>9.<span class="cents fs20 fw300">90</span></p>
          <select name="" id="" class="green-outline form-control fs12">
            <option value="">Month-to-Month</option>
            <option value="">12 Months ($200 off)</option>
          </select>
          <a href="#botom" class="btn btn-green-gradient btn-rd my-3 mont fs10 text-uppercase fw500">protect site now</a>
          <div>
            <ul class="checklist list-unstyled text-left fs14">
              <li>{% include 'icon-green-check' %}Professional Websites</li>
              <li>{% include 'icon-green-check' %}Small Business Websites</li>
              <li>{% include 'icon-green-check' %}Light Ecommerce Websites</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3 px-0">
        <div class="price-box border-grey-light border-top text-center mh-387">
          <div class="ribbon"><span>Best Seller</span></div>
          <p class="mont green-text font-weight-bold">Premium</p>
          <p class="work fs47 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>24.<span class="cents fs20 fw300">90</span></p>
          <div>
            <p class="work fs13 green-text m-0">$17.43/Mo. Paid Annually</p>
            <select name="" id="" class="green-outline form-control fs12">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <a href="#botom" class="btn btn-green-gradient btn-rd my-3 mont fs10 text-uppercase fw500">protect site now</a>
          <div>
            <ul class="checklist list-unstyled text-left fs14">
              <li>{% include 'icon-green-check' %}Professional Websites</li>
              <li>{% include 'icon-green-check' %}Small Business Websites</li>
              <li>{% include 'icon-green-check' %}Light Ecommerce Websites</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3 px-0">
        <div class="price-box border-grey-light border-top border-left border-right text-center mh-387">
          <p class="mont font-weight-bold">Enterprise</p>
          <p class="work fs47 price fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>1,558.<span class="cents fs20 fw300">80</span></p>
          <div>
            <p class="work fs13 darkish-blue-text m-0">$129.90/Mo. Paid Annually</p>
            <select name="" id="" class="darkish-blue-outline form-control fs12">
              <option value="">Month-to-Month</option>
              <option value="">12 Months ($200 off)</option>
            </select>
          </div>
          <a href="tel:" class="btn btn-blue-gradient btn-rd my-3 mont fs10 text-uppercase fw500">protect site now</a>
          <div>
            <ul class="checklist list-unstyled text-left fs14">
              <li>{% include 'icon-green-check' %}Large Corporate Websites</li>
              <li>{% include 'icon-green-check' %}Ecommerce Websites</li>
              <li>{% include 'icon-green-check' %}High-Value Brands</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Number of websites</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="fs15 m-0 text-center">1 Domain</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="fs15 m-0 text-center">1 Domain</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="fs15 m-0 text-center">1 Domain &<br>Up To 10 Subdomains</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Number of Web Pages</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="fs15 m-0 text-center">Unlimited</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="fs15 m-0 text-center">Unlimited</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="fs15 m-0 text-center">Unlimited</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">100% Clean & Repair</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="green-text m-0 work fw600 text-center">Instant</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="green-text m-0 work fw600 text-center">Instant</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="green-text m-0 work fw600 text-center">Instant</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Dedicated Expert Analyst </p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="m-0 work fw600 text-center">{% include 'icon-green-check' %}</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="m-0 work fw600 text-center">{% include 'icon-green-check' %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Incident Response Time</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="green-text m-0 work fw600 text-center">5 hrs</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="green-text m-0 work fw600 text-center">4 hrs</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="green-text m-0 work fw600 text-center">2 hrs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Fine Grained Tuning & Control</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light"></div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-grey-light">
        <p class="green-text m-0 work fw600 text-center">{% include 'icon-green-check' %}</p>
      </div>
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-center mh-45 py-2 border-top border-left border-right border-grey-light">
        <p class="green-text m-0 work fw600 text-center">{% include 'icon-green-check' %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 px-0 d-flex flex-column justify-content-center align-items-left mh-45 py-2 border-left border-top border-bottom border-grey-light">
        <p class="fs15 fw600 m-0 pl-3">Overall Protection</p>
      </div>
      <div class="col-sm-3 px-0 border border-grey-light">
        <div class="row flex-row justify-content-center align-items-center mh-55">
          <div class="col-5">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center pl-0">
            <p class="m-0 text-uppercase fs9 grey-text">good</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 px-0 border-top border-bottom border-grey-light">
        <div class="row flex-row justify-content-center align-items-center mh-55">
          <div class="col-5">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center pl-0">
            <p class="m-0 text-uppercase fs9 grey-text">high</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 px-0 border border-grey-light">
        <div class="row flex-row justify-content-center align-items-center mh-55">
          <div class="col-5">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center pl-0">
            <p class="m-0 text-uppercase fs9 grey-text">high</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="HeaderB-Level4">Detailed Features</p>
      </div>
    </div>
  </div>
</section>
<section class="product-features">
  <div class="container drop-shadow">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <div class="text-center p-3">
          <p class="mont green-text font-weight-bold m-0">Pro</p>
          <p class="work fs47 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>9.<span class="cents fs20 fw300">90</span></p>
          <p class="work fs13 green-text m-0">Month-to-month</p>
          <a href="#botom" class="btn btn-green-gradient btn-rd my-3 mont fs13 btn-longer text-uppercase fw500">buy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-center p-3">
          <p class="mont green-text font-weight-bold m-0">Premium</p>
          <p class="work fs47 price green-text fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>24.<span class="cents fs20 fw300">90</span></p>
          <p class="work fs13 green-text m-0">Month-to-month</p>
          <a href="#botom" class="btn btn-green-gradient btn-rd my-3 mont fs13 btn-longer text-uppercase fw500">buy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-center p-3">
          <p class="mont font-weight-bold m-0">Enterprise</p>
          <p class="work fs47 price fw500 mb-1"> <span class="dollar-sign fs26 fw300">$</span>1,558.<span class="cents fs20 fw300">80</span></p>
          <p class="work fs13 darkish-blue-text m-0">$129.90/Mo. Paid Annually</p>
          <a href="#botom" class="btn btn-blue-gradient btn-rd my-3 mont fs13 btn-longer text-uppercase fw500">buy</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="HeaderB-Level6">{% include 'icon-shield-green' %}<span class="green-text">DETECT -</span> Security Incident & Event Management (SIEM)</p>
      </div>
    </div>
  </div>
</section>