
<section class="page-hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h2 class="work fs47 fw200  mt-5">An Easy Way to Shield Your Website from Known & Unknown Threats</h2>
        <p class="FeatureText-Level2 green-text">Cloud-Based Fortification Against Today’s Virtual Invaders & Cyber Threats</p>
        <div class="fire-wall show-mobile-992"></div>
        <p>It’s automatically deployed with cWatch Web and requires no maintenance or upkeep, it’s a fully-managed WAF by Comodo designed to clean your pipes. This robust intrusion prevention system analyzes, detects, blocks and filters bad traffic in real-time to eliminate vulnerabilities and protect your website from modern-day threats and attacks—even complex Distributed-Denial-of-Service (DDoS) attacks, SQL Injection and Cross-Site Scripting to name a few. </p>
      </div>
    </div>
  </div>
</section>
<!-- SVG BG -->
<section class="fire-wall hide-mobile-992"></section>
<!-- End -->
<section class="inner-page-tabs hide-mobile-992">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="HeaderA-Level3">With Comodo’s managed Web Application Firewall (WAF), it will...</p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4">
        <div class="nav flex-column nav-pills mont fs14 vert-tabs-green" id="firewall-tabs" role="tablist" aria-orientation="vertical">
          <a class="mb-2 nav-link active position-relative" id="v-pills-home-tab" data-toggle="pill" href="#Advanced" role="tab" aria-controls="Advanced" aria-selected="true">
            {% include 'icon-green-check' %} 
            Block Malicious Traffic
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-profile-tab" data-toggle="pill" href="#Detection" role="tab" aria-controls="Detection" aria-selected="false">
            {% include 'icon-green-check' %} 
            Provide DDoS Protection
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-messages-tab" data-toggle="pill" href="#Monitoring" role="tab" aria-controls="Monitoring" aria-selected="false">
            {% include 'icon-green-check' %} 
            Automatically Update
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#Website" role="tab" aria-controls="Website" aria-selected="false">
            {% include 'icon-green-check' %}
            Protect Against OWASP Top 10
          </a>
          <a class="mb-2 nav-link position-relative" id="v-pills-settings-tab" data-toggle="pill" href="#manage" role="tab" aria-controls="manage" aria-selected="false">
            {% include 'icon-green-check' %}
            Prevent Bot & Brute Force Attacks
          </a>
        </div>
      </div>
      <div class="col-sm-8 text-left d-flex flex-column justify-content-center">
        <div class="tab-content" id="protect-tabContent">
          <div class="tab-pane fade show active" id="Advanced" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-sm-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Detection" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-sm-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Monitoring" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-sm-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Website" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-sm-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="manage" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-sm-12">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Mobile -->
<section class="inner-page-mobile-tabs show-mobile-992 grey-background py-7">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="HeaderA-Level2">With Comodo's managed Web Application Firewall (WAF), it will...</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="mobile-protect-slider" class="carousel slide mobile" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mobile-protect-slider" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="1"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="2"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="3"></li>
            <li data-target="#mobile-protect-slider" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="slide-content text-center">
                <p class="HeaderB-Level4">Block Malicious Traffic</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Provide DDoS Protection</p>
                    {% include 'icon-blue-swip-left' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <p class="HeaderB-Level4">Provide DDoS Protection</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Automatically Update</p>
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <p class="HeaderB-Level4">Automatically Update</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Protect Against OWASP Top 10</p>
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <p class="HeaderB-Level4">Protect Against OWASP Top 10</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">NEXT</p>
                    <p class="blue-text fs17">Prevent Bot & Brute Force Attacks</p>
                    {% include 'icon-blue-hand-left-right' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="slide-content text-center">
                <p class="HeaderB-Level4">Prevent Bot & Brute Force Attacks</p>
                <p>Instantly protect against the Open Web Application Security Project (OWASP) Top 10, which are officially the most common security threats out there.</p>
                <p>cWatch Web provides visibility and information to automatically protect you from these very common, yet extremely crippling threats so your thoughts stay focused on your business.</p>
                <div class="row">
                  <div class="col-12">
                    <p class="blue-text m-0">Prev</p>
                    <p class="blue-text fs17">Protect Against OWASP Top 10</p>
                    {% include 'icon-blue-finger-right' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
<section class="grey-background-40 py-7 target hide-mobile-992">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="HeaderA-Level2">Your Website is a Target, and No One is "Safe"</p>
        <p class="w-75 m-auto">Think you’re too small for a hacker to bother with?  Think again.  Your website can – and probably will – become the object of a hacker at some point in the near future. Today, it doesn’t matter what size your business is or whether you conduct transactions online, if you can be found on a search engine then you’re in the crosshairs.</p>
        <p class="HeaderB-Level4 my-5">cWatch Web Protects You From Threst Like:</p>
      </div>
    </div>
    <div class="row titles">
      <div class="col-sm-4">
        <p class="HeaderA-Level5 grey-text active target-title" data-progress="31">SQL Injection</p>
      </div>
      <div class="col-sm-4">
        <p class="HeaderA-Level5 grey-text target-title" data-progress="66">Broken Authentication and Session Management</p>
      </div>
      <div class="col-sm-4">
        <p class="HeaderA-Level5 grey-text target-title" data-progress="100">Insecure Direct Object References</p>
      </div>
      <div class="col-sm-12">
        <div class="progress">
          <div class="progress-bar bg-success target-progress" role="progressbar" style="width: 33.3333%;" aria-valuenow="33.3333" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-12 target-content my-5 position-relative">
        {% include 'icon-green-circle-arrow-left' %}
        <div id="target-slide" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner" style="overflow:visible;">
            <div class="carousel-item active" data-step="1">
              <div class="row">
                <div class="col-6 text-center">
                  <img data-src="holder.js/200x200" class="" alt="200x200" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16098c00809%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16098c00809%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 200px; border-radius: 50%;">
                </div>
                <div class="col-6">
                  <div class="toolTip br-4 drop-shadow white-background p-3 hidden" role="tooltip">
                    <div class="row">
                      <div class="col-sm-4">
                        {% include 'icon-wasp-mad' %}
                      </div>
                      <div class="col-sm-8">
                        <p class="mont">What are OWASP 10 Vulnerabilities?</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="fs15 mb-0">The OWASP 10 is a list created by the Open Web Application Security Project (OWASP) that identifies the most critical website and application security flaws.  cWatch Web protects against all OWASP vulnerabilities and more.</p>
                      </div>
                    </div>
                  </div>
                  {% include 'icon-owasp-text' %}  
                  <p class="HeaderB-Level4">SQL Injection</p>
                  <p>Used by hackers to attack and corrupt data-driven websites or applications.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-step="2">
              <div class="row">
                <div class="col-6 text-center">
                  <img data-src="holder.js/200x200" class="" alt="200x200" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16098c00809%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16098c00809%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 200px; border-radius: 50%;">
                </div>
                <div class="col-6">
                  {% include 'icon-owasp-text' %}
                  <p class="HeaderB-Level4">SQL Injection</p>
                  <p>Used by hackers to attack and corrupt data-driven websites or applications.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-step="3">
              <div class="row">
                <div class="col-6 text-center">
                  <img data-src="holder.js/200x200" class="" alt="200x200" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16098c00809%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16098c00809%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 200px; border-radius: 50%;">
                </div>
                <div class="col-6">
                  {% include 'icon-owasp-text' %}
                  <p class="HeaderB-Level4">SQL Injection</p>
                  <p>Used by hackers to attack and corrupt data-driven websites or applications.</p>
                </div>
              </div>
            </div>
          </div>
        </div>   
        {% include 'icon-green-circle-arrow-right' %}
      </div>
    </div>
  </div>
</section>
<section class="target-mobile show-mobile-992">
  <div class="container">
    <div class="row text-center pt-5">
      <div class="col-sm-12">
        <p class="HeaderA-Level2">Your Website Is A Target, And No One Is “Safe”</p>
        <p class="fs24">Think you’re too small for a hacker to bother with?  Think again.  Your website can – and probably will – become the object of a hacker at some point in the near future. Today, it doesn’t matter what size your business is or whether you conduct transactions online, if you can be found on a search engine then you’re in the crosshairs.</p>
        <p class="HeaderB-Level4">cWatch Web Protects You From Threats Like:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="border-top border-grey-light line-through border-thicker-3"></div>
        <div class="row circles text-center">
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle">
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle">
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle ">
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle active">
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle">
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="col flex-row d-flex justify-content-center">
            <div class="circle">
              <div class="inner-circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="rotate-back">
          <div class="flipster__container flipster mt-5">
            <ul class=" list-unstyled"> 
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
              <li class="flipster__item drop-shadow">
                <p class="HeaderB-Level2">SQL Injection</p>
                {% include 'icon-grey-circle' %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid position-relative">
    <div class="row red-bg red-transform white-text">
      <div class="col-sm-12 fliper-content py-5 hidden">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
      <div class="col-sm-12 fliper-content py-5 hidden">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
      <div class="col-sm-12 fliper-content py-5 hidden">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
      <div class="col-sm-12 fliper-content  py-5">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
      <div class="col-sm-12 fliper-content py-5 hidden">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
      <div class="col-sm-12 fliper-content py-5 hidden">
        <p class="fs29 px-4">Used by hackers to attack and corrupt data-driven websites or applications.</p>
        <p class="px-4">{% include 'icon-owasp-text' %}</p>
      </div>
    </div>
  </div>
</section>
<section class="protection-guarantee pt-7 pb-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <p class="HeaderA-Level2 ">Protection Guaranteed by Comodo</p>
        <p class="w-75 mx-auto">cWatch Web clients benefit from 24x7x365 managed malware detection and removal services. Comodo’s advanced monitoring, automatic removal and repairs solution analyzes websites for malicious content and eliminates all threats when necessary.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 offset-sm-1">
        <ul class="green-check-plain HeaderB-Level5">
          <li>DDoS Attacks</li>
          <li>Bad Bots</li>
          <li>Spam Attacks</li>
          <li>Zero Day Attacks</li>
          <li>Brute Force Attacks</li>
          <li>Data Exposures</li>
          <li>Hidden & Malicous Iframes</li>
        </ul>
      </div>
      <div class="col-sm-5">
        <ul class="green-check-plain HeaderB-Level5">
          <li>Pharam Hacks</li>
          <li>Defense Against Hackers</li>
          <li>website Hijackings Attacks</li>
          <li>Redirects Targeting Mobile Devices</li>
          <li>Phisihing Lures</li>
          <li>Search Engine Blacklisting</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="page-cta mt-4 mb-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <p class="HeaderB-Level4">Protecting Your Website Has Never Been So Easy or Afforable</p>
      </div>
    </div>
    <div class="row text-center chat-links">
      <div class="col-md-6">
        <a href="tel:" class="btn btn-success btn-rd btn-longer my-3 text-uppercase fs15 pull-right">
          see all service packages
          <span class="hide-mobile-992">
            {% include 'icon-arrow-right-white' %}
          </span>
        </a>
      </div>
      <div class="col-md-6">
        <a href="tel:" class="btn btn-outline-success btn-rd btn-longer my-3 mont fs15 text-uppercase fw500 pull-left">{% include 'icon-chat-dots' %} click to chat</a>
      </div>
    </div> 
    <div class="row text-center">
      <div class="col-12">
        <p class="FeatureText-Level3">Speak to a cWatch Team Member Today</p>
        <a href="tel:" class="HeaderB-Level4 green-text">1 (888) 481-5388</a>
      </div>
    </div>
  </div>
</section>