<section class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="work fs47 fw200 my-4">Compare cWatch Web Now</h2>
        <p class="HeaderB-Level4">How does cWatch Web stack up against the rest? Hint: It’s the best.</p>
        <p>cWatch Web is the most versatile cloud-based website security solution out there. If you have a malware infection right now, it can repair it faster than others—for free too. If you’re looking for 360° total protection, it’s the winner by a landslide. See for yourself below and then choose Repair & Recovery if you just want your site cleaned now. Choose Protection if you want to clean it now and protect it forever.</p>
      </div>
    </div>
  </div>
</section>
<section class="compare hide-mobile-575">
  <div class="container">
    <div class="row border-bottom border-grey-light text-center mb-4">
      <div class="col-lg-6">
        <h2 class="HeaderB-Level2 green-text">Repair & Recovery</h2>
        <p class="FeatureText-Level2 green-text">100% Malware Cleaning & Hack Repair</p>
      </div>
      <div class="col-lg-6 hide-mobile-992">
        <h2 class="HeaderB-Level2 blue-text">Protection</h2>
        <p class="FeatureText-Level2 blue-text">Clean & Protect Your Site From Future Attacks</p>
      </div>
    </div>
    <div class="row ">
      <!-- left side -->
      <div class="col-lg-6">
        <div class="row text-center">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 drop-shadow-sides py-3">
            {% include 'icon-sm-logo' %}
            <p class="work fw600 fs42 green-text m-0">FREE</p>
            <p class="font-italic fs13 green-text m-0">No Credit Card Required</p>
            <button class="btn btn-success-diff btn-rd mont fw600 fs15 btn-block my-2">Clean Now</button>
          </div>
          <div class="col-sm-2 py-3">
            {% include 'icon-sucuri' %}
            <p class="other-price fs23 m-0 work"><span class="fs11 super-align">$</span>499.<span class="fs11 super-align">99</span></p>
            <p class="fs11 font-italic m-0">/yr.</p>
            <p class="work fs12 red-text">Payment <br> Required</p>
          </div>
          <div class="col-sm-2 py-3">
            {% include 'icon-site-lock' %}
            <p class="other-price fs23 m-0 work"><span class="fs11 super-align">$</span>499.<span class="fs11 super-align">99</span></p>
            <p class="fs11 font-italic m-0">/yr.</p>
            <p class="work fs12 red-text">Quote <br>  Required</p>
          </div>
        </div>
        <div class="row p-mh-40 row-move-up">
          <div class="col-sm-4">
            <p class="mont fw600 fs12 green-text">{% include 'icon-green-bug-single' %} Repair & Recovery </p>
            <p class="fs13">Response Time</p>
            <p class="fs13">Malware Removal & Hack Repair </p>
            <p class="fs13">Continuous Malware & Hack Scanning</p>
            <p class="fs13">Brand Reputation & Blacklist Monitoring</p>
            <p class="fs13">Vulnerability Detection</p>
            <p class="fs13">Stop Hacks (Virtual Patching / Hardening)</p>
            <p class="fs13">Automatic Malware Removal</p>
            <p class="fs13">Manual Malware Removal</p>
            <p class="fs13">Vulnerability Repair</p>
            <p class="fs13">Full Blacklist Removal</p>
            <p class="fs13">24/7 Customer Phone Support</p>
            <p class="fs13">Trojan Detection and Protection</p>
            <p class="fs13">Recover from traffic hijacking</p>
            <p class="fs13">Recover from SEO poisoning</p>
          </div>
          <div class="col-sm-4 drop-shadow-sides text-center">
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
            <p class="green-text fs15 fw600 work">Instant</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
          </div>
          <div class="col-sm-2 text-center">
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
            <p class="fs13">4 Hours</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
          </div>
          <div class="col-sm-2 text-center">
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
            <p class="fs13">Not Stated</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            {% include 'icon-sm-logo' %}
            <p class="work fw600 fs42 green-text m-0">FREE</p>
            <p class="font-italic fs13 green-text m-0">No Credit Card Required</p>
            <button class="btn btn-success-diff btn-rd mont fw600 fs15 btn-block my-2">Clean Now</button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <!-- right side -->
      <div class="col-lg-6">
        <div class="border-bottom border-grey-light show-mobile-992 text-center mt-4 mb-3">
          <h2 class="HeaderB-Level2 blue-text">Protection</h2>
          <p class="FeatureText-Level2 blue-text">Clean & Protect Your Site From Future Attacks</p>
        </div>
        <div class="row text-center">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 drop-shadow-sides py-3">
            {% include 'icon-sm-logo' %}
            <p class="blue-text fs42 m-0 work"><span class="fs15 super-align">$</span>9.<span class="span fs15 super-align">99</span></p>
            <p class="m-0 font-italic fs11 blue-text">/Month</p>
            <button class="btn btn-green-blue btn-rd mont fw600 fs15 btn-block my-2">Clean & Protect</button>
          </div>
          <div class="col-sm-2 py-3">
            {% include 'icon-sucuri' %}
            <p class="other-price fs23 m-0 work"><span class="fs11 super-align">$</span>499.<span class="fs11 super-align">99</span></p>
            <p class="fs11 font-italic m-0">/yr.</p>
            <p class="work fs12 red-text">Payment <br> Required</p>
          </div>
          <div class="col-sm-2 py-3">
            {% include 'icon-site-lock' %}
            <p class="other-price fs23 m-0 work"><span class="fs11 super-align">$</span>499.<span class="fs11 super-align">99</span></p>
            <p class="fs11 font-italic m-0">/yr.</p>
            <p class="work fs12 red-text">Quote <br>  Required</p>
          </div>
        </div>
        <div class="row p-mh-40 row-move-up">
          <div class="col-sm-4">
            <!-- SIEM start -->
            <p class="blue-text fw600 mont fs12">{% include 'icon-blue-protect-shield' %} SIEM</p>
            <p class="fs13">Real Time Threat and Breach Protection</p>
            <p class="fs13">Advanced Persistent Threat Identification</p>
            <p class="fs13">Incident Management and Remediation</p>
            <p class="fs13">Anomaly Detection</p>
            <p class="fs13">Unusual Network Traffic Detection</p>
            <p class="fs13">DNS Request Anomaly Detection</p>
            <p class="fs13">Unpatched or Vulnerable System Detection</p>
            <p class="fs13">Early Incident Detection</p>
            <p class="fs13">Security Monitoring and Incident Reaction</p>
            <p class="fs13">Incident Investigation, Data Drilling and Reporting</p>
            <p class="fs13">Infrustructure Security Recommendations</p>
            <br>  <!-- WAF start -->
            <p class="blue-text fw600 mont fs12">{% include 'icon-blue-fire-wall' %} WAF</p>
            <p class="fs13">Cloud-Based Web Application Firewall </p>
            <p class="fs13">Managed Web Application Firewall</p>
            <p class="fs13">Stop Hacks (Virtual Patching/Hardening)</p>
            <p class="fs13">OWASP Top 10 Threat Protection</p>
            <p class="fs13">Bad Bot Prevention</p>
            <p class="fs13">Blacklisting of Clients, Countries and Ips</p>
            <p class="fs13">Advanced DDoS Protection</p>
            <p class="fs13">Fine-grained Settings for WAF Exceptions</p>
            <p class="fs13">SQL Injection Prevention</p>
            <p class="fs13">XSS Injection Prevention</p>
            <p class="fs13">Illegal Resource Access Prevention</p>
            <p class="fs13">Brute Force Protection</p>
            <p class="fs13">Information Reveal Protection</p>
            <br><!-- CSOC start -->
            <p class="blue-text fw600 mont fs12">{% include 'icon-blue-person' %} CSOC</p>
            <p class="fs13">24/7 Customer Phone Support</p>
            <p class="fs13">Dedicated CSOC Analyst</p>
            <p class="fs13">Threat Investigation and Analysis</p>
            <p class="fs13">Integration with Threat Intelligence</p>
            <p class="fs13">Correlation over incidents</p>
            <p class="fs13">Alerting & Incident Escalations</p>
            <p class="fs13">Expert Tuning and Configuration management</p>
            <p class="fs13">Reverse Malware and Suspect Engineering</p>
            <br><!-- CDN Start -->
            <p class="blue-text fw600 mont fs12">{% include 'icon-blue-cloud' %} CDN</p>
            <p class="fs13">Real CDN</p>
            <p class="fs13">Advanced Website Acceleration</p>
            <p class="fs13">Advanced DDoS Protection</p>
            <p class="fs13">Load Balancing</p>
            <p class="fs13">Instant Purge</p>
            <p class="fs13">SSL Certificate Support</p>
            <p class="fs13">Performance Optimization</p>
            <p class="fs13">Asset Preloading</p>
            <p class="fs13">SSL Certificate Support</p>
            <p class="fs13">Performance Optimization</p>
            <p class="fs13">Asset Preloading</p>
            <br> <!-- Repair start -->
            <p class="mont fw600 fs12 green-text">{% include 'icon-green-bug-single' %} Repair & Recovery </p>
            <p class="fs13">Response Time</p>
            <p class="fs13">Malware Removal & Hack Repair </p>
            <p class="fs13">Continuous Malware & Hack Scanning</p>
            <p class="fs13">Brand Reputation & Blacklist Monitoring</p>
            <p class="fs13">Vulnerability Detection</p>
            <p class="fs13">Stop Hacks (Virtual Patching / Hardening)</p>
            <p class="fs13">Automatic Malware Removal</p>
            <p class="fs13">Manual Malware Removal</p>
            <p class="fs13">Vulnerability Repair</p>
            <p class="fs13">Full Blacklist Removal</p>
            <p class="fs13">24/7 Customer Phone Support</p>
            <p class="fs13">Trojan Detection and Protection</p>
            <p class="fs13">Recover from traffic hijacking</p>
            <p class="fs13">Recover from SEO poisoning</p>
          </div>
          <div class="col-sm-4 drop-shadow-sides text-center">
            <!-- SIEM start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">11&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <br><br> <!-- WAF start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <br> <!-- CSOC start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">8&nbsp;</span><span class="grey-text">of 8</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <br> <!-- CDN start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">11&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <br><br>
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
            <p class="green-text fs15 fw600 work">Instant</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
          </div>
          <div class="col-sm-2 text-center">
            <!-- SIEM start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="grey-text">0&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br> <br><!-- WAF start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">3&nbsp;</span><span class="grey-text">of 13</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br> <!-- CSOC start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span><span class="grey-text">of 8</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br><!-- CDN start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">2&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br><br>
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
            <p class="fs13">4 Hours</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
          </div>
          <div class="col-sm-2 text-center">
            <!-- SIEM start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="grey-text">0&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br><br> <!-- WAF start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">8&nbsp;</span><span class="grey-text">of 13</span></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br> <!-- CSOC start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span><span class="grey-text">of 8</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br> <!-- CDN start -->
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">1&nbsp;</span><span class="grey-text">of 11</span></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle blue-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <p><label for="" class="circle grey-circle"></label></p>
            <br><br>
            <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
            <p class="fs13">Not Stated</p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle green-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
            <p><label class="circle grey-circle"></label></p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            {% include 'icon-sm-logo' %}
            <p class="blue-text fs42 m-0 work"><span class="fs15 super-align">$</span>9.<span class="span fs15 super-align">99</span></p>
            <p class="m-0 font-italic fs11 blue-text">/Month</p>
            <button class="btn btn-green-blue btn-rd mont fw600 fs15 btn-block my-2">Clean & Protect</button>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="live-chat my-5 py-5 hide-mobile-575">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {% include 'icon-chat-set' %}
        <p class="work fw500 fs34 mb-1">Need Help?</p>
        <p class="work fw300 fs38 mb-1">Contact Our Live Tech Support Today.</p>
        <a href="tel:18884815388" class="work fs35 fw500 ">1-888-481-5388</a>
      </div>
    </div>
    <div class="row text-center chat-links">
      <div class="col-sm-6">
        <a href="#" class="btn btn-outline-primary btn-longer btn-rd my-3 mont fs15 text-uppercase fw500 black-text letter-spacing2"> {% include 'icon-chat-dots' %} click to chat</a>
      </div>
      <div class="col-sm-6">
        <a href="#" class="btn btn-outline-primary btn-longer btn-rd my-3 mont fs15 text-uppercase fw500 black-text letter-spacing2"> {% include 'icon-mail' %} email support</a>
      </div>
    </div>
  </div>
</section>
<section class="compare-mobile show-mobile-575 text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% include 'icon-green-bug-single' %}
        <p class="fs35 mont fw600 green-text">Repair & Recovery</p>
        <p class="FeatureText-Level2 green-text">100% Malware Cleaning & Hack Repair</p>
      </div>
    </div>
    <div class="row sticky-header">
      <div class="col-4">
        {% include 'icon-sm-logo' %}
      </div>
      <div class="col-4">
        {% include 'icon-sucuri' %}
      </div>
      <div class="col-4">
        {% include 'icon-site-lock' %}
      </div>
    </div>
    <div class="row position-relative row-height-center" id="top-part">
      <p class="mont fw600 row-title">Response Time</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p class="work fw600 green-text fs26">Instant</p>
      </div>
      <div class="col-4">
        <p>4 Hours</p>
      </div>
      <div class="col-4">
        <p>Not Stated</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Malware Removal & Hack Repair</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Continuous Malware & Hack Scanning</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Brand Reputation & Blacklist Monitoring</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Vulnerability Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Stop Hacks (Virtual Patching / Hardening)</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Automatic Malware Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Manual Malware Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Vulnerability Repair</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Full Blacklist Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">24/7 Customer Phone Support</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Trojan Detection and Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from traffic hijacking</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from SEO poisoning</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
      </div>
    </div>
    <div class="row">
      <div class="w-50 mx-auto my-3">
        {% include 'icon-sm-logo' %}
        <p class="work fw600 fs42 green-text m-0">FREE</p>
        <p class="font-italic fs13 green-text m-0">No Credit Card Required</p>
        <button class="btn btn-success-diff btn-rd mont fw600 fs15 btn-block my-2 darkish-blue-text">Clean Now</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <p class="fs35 mont fw600 blue-text">Protection</p>
        <p class="FeatureText-Level2 blue-text">Clean & Protect Your Site From Future Attacks</p>
        {% include 'icon-blue-protect-shield' %}
        <p class="HeaderA-Level2 blue-text">SIEM</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Real Time Threat and Breach  Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Advanced Persistent Threat  Identification</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div> 
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Incident Management and  Remediation</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Anomaly Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Unusual Network Traffic Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div> 
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">DNS Request Anomaly Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Unpatched or Vulnerable System Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div> 
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Early Incident Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Security Monitoring and Incident Reaction as a Service</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Incident Investigation, Data Drilling and Reporting</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Infrustructure Security Hardening Recommendations</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from traffic hijacking</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from SEO poisoning</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">11&nbsp;</span><span class="grey-text">of 11</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span> <span class="grey-text">of 11</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span> <span class="grey-text">of 11</span></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        {% include 'icon-blue-fire-wall' %}
        <p class="HeaderA-Level2 blue-text">WAF</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Cloud-Based Web Application Firewall</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Managed Web Application Firewall</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Stop Hacks (Virtual Patching/Hardening)</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">OWASP Top 10 Threat Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Bad Bot Prevention</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Blacklisting of Clients, Countries and Ips</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Advanced DDoS Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Fine-grained Settings for WAF Exceptions</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">SQL Injection Prevention</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">XSS Injection Prevention</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Illegal Resource Access Prevention</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Brute Force Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Information Reveal Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">3&nbsp;</span> <span class="grey-text">of 13</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">8&nbsp;</span> <span class="grey-text">of 13</span></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        {% include 'icon-blue-person' %}
        <p class="HeaderA-Level2 blue-text">CSOC</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">24/7 Customer Phone Support</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Dedicated CSOC Analyst</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Threat Investigation and Analysis</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Integration with Threat Intelligence</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Correlation over incidents</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Alerting & Incident Escalations</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Expert Tuning and Configuration management</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Reverse Malware and Suspect Engineering</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">8&nbsp;</span><span class="grey-text">of 8</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span> <span class="grey-text">of 8</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">0&nbsp;</span> <span class="grey-text">of 8</span></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        {% include 'icon-blue-cloud' %}
        <p class="HeaderA-Level2 blue-text">CDN</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Real CDN</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Advanced Website Acceleration</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Advanced DDoS Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Load Balancing</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Instant Purge</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">SSL Certificate Support</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Performance Optimization</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Asset Preloading</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">SSL Certificate Support</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Performance Optimization</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Asset Preloading</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle blue-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">11&nbsp;</span><span class="grey-text">of 11</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">2&nbsp;</span> <span class="grey-text">of 11</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="blue-text">1&nbsp;</span> <span class="grey-text">of 11</span></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        {% include 'icon-green-bug-single' %}
        <p class="HeaderA-Level2 green-text">Repair & Recovery</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Response Time</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p class="work fw600 green-text fs26">Instant</p>
      </div>
      <div class="col-4">
        <p>4 Hours</p>
      </div>
      <div class="col-4">
        <p>Not Stated</p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Malware Removal & Hack Repair</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Continuous Malware & Hack Scanning</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Brand Reputation & Blacklist Monitoring</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Vulnerability Detection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Stop Hacks (Virtual Patching / Hardening)</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Automatic Malware Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Manual Malware Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Vulnerability Repair</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Full Blacklist Removal</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center" id="bottom">
      <p class="mont fw600 row-title">24/7 Customer Phone Support</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Trojan Detection and Protection</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from traffic hijacking</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <p class="mont fw600 row-title">Recover from SEO poisoning</p>
      <div class="col-4 grey-background"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 grey-background">
        <p><label for="" class="circle green-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
      <div class="col-4">
        <p><label for="" class="circle grey-circle"></label></p>
      </div>
    </div>
    <div class="row position-relative row-height-center">
      <div class="col-4 grey-background">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">13&nbsp;</span><span class="grey-text">of 13</span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
      </div>
      <div class="col-4">
        <p class="work fs15 d-flex justify-content-center align-items-center"><span class="green-text">7&nbsp;</span> <span class="grey-text">of 13 </span></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="w-50 mx-auto">
        {% include 'icon-sm-logo' %}
        <p class="blue-text fs42 m-0 work"><span class="fs15 super-align">$</span>9.<span class="span fs15 super-align">99</span></p>
        <p class="m-0 font-italic fs11 blue-text">/Month</p>
        <button class="btn btn-green-blue btn-rd mont fw600 fs15 btn-block my-2">Clean & Protect</button>
      </div>
    </div>
  </div>
</section>