@charset "UTF-8";
/*===== Colors vars======*/
$red: #C41230;
$white: #fff;
$darkish-blue: #373E5A;
$grey-accent: #969C9C;
$success-green: #1FC469;
$medium-blue: #3f4563;
$grey: #EDF0F3;
$light-grey: rgba(237, 240, 243, 0.22);
$grey-40: rgba(237, 240, 243, 0.40);
$blue: #03A9F4;
$accent-grey1: rgba(209, 213, 219, 0.15);
$green: #23e390;
$input-grey: rgba(207, 214, 218, 0.4);
$red: #C41230;
/*======End Color vars========*/
/*========*/
/*========*/
/*========*/
// /*================ SETTINGS ================*/
// @import url('settings/variables.scss.liquid');

// /*================ COMMON ================*/
// @import url('global/normalize.scss');
// @import url('global/slate-reset.scss');
// @import url('global/helper-classes.scss');
// @import url('global/grid.scss');
// @import url('global/layout.scss');
// @import url('global/icons.scss');
// @import url('global/rte.scss');
// @import url('global/responsive-tables.scss');
// @import url('global/links-buttons.scss');
// @import url('global/forms.scss');
// @import url('global/blank-states.scss');

// /*================ MODULES ================*/
// @import url('modules/site-header.scss');
// @import url('modules/gift-card-template.scss');
/*================ UTILS ================*/
@import url('tools/mixins.scss');
@import url('tools/flip.scss');
@import url('tools/fonts.scss');
.btn-group-justified {
  display: flex;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}
/*==== End ====*/
.container{
  padding-left: 50px;
  padding-right: 50px;
}
/*==== Base font sizing classes ====*/

html {font-size: 20px;}
body{
  @extend .lato;
  color: $darkish-blue;
  overflow-x: hidden;
}
@import url('tools/sizing.scss');
@import url('tools/btn.scss');
.drop-shadow{
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.23), 0 10px 40px rgba(0,0,0,0.19);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.23),0 10px 40px rgba(0,0,0,0.19);
  box-shadow: 0 6px 12px rgba(0,0,0,0.23), 0 10px 40px rgba(0,0,0,0.19);
}
.drop-shadow-sides{
  box-shadow:10px 0px 10px -7px rgba(0,0,0,0.23), -10px 0px 10px -7px rgba(0,0,0,0.23);
}
/*==== BS A overrides ====*/
.dropdown-toggle::after{
  display: none;
}
a:not([href]):not([tabindex]) {
  color: $blue !important;
  text-decoration: none;
}
/*==== End ====*/
.z1{
  z-index: 1;
}
.trans-ease-inOut{
  transition: all 0.3s ease-in;
}
.trans-ease{
  transition: all .3s ease;
}
@import url('tools/context-colors.scss');

/*==== Line Heights ====*/
.lh1-2{
  line-height: 1.2;
}
.lh-18{
  line-height: 1.8;
}
.lh2{
  line-height: 2;
}
/*==== End ====*/
/*==== End ====*/
.pointer{
  cursor: pointer;
}
/*==== Anchor element classes ====*/
a{
  &:hover{
    color: $blue;
  }
  cursor: pointer;
  color: $blue;
}
a.darkish-blue-text:visited,
a.darkish-blue-text:focus,
a.darkish-blue-text:active,
a.darkish-blue-text:hover{
  color: $darkish-blue;
}
a.text-decoration-none:hover,
a.text-decoration-none:active,
a.text-decoration-none:visited{
  text-decoration: none;
}
/*==== End ====*/
/*=== Icons ====*/
.icon-partner-graph{
  max-width: 100%;
  height: auto;
}
.icon-chat-set{
  width: 150px;
}
.icon-grey-chevron{
  height: 55px;
  vertical-align: middle;
}
.icon-blue-check{
  width: 25px;
  vertical-align: middle;
  margin-right: 15px;
}
.icon-cart{
  width: 25px;
}
.icon-fishing{
  position: absolute;
  width: 180px;
  left: 410px;
}
.icon-search{
  path{
    fill: $grey-accent;
  }
  width: 20px;
}
.icon-arrow-right-white{
  width: 15px;
}
.icon-cart + span{
  top: 0;
  right: -10px;
}
.icon-white-x{
  width: 19px;
  position: absolute;
  right: 11px;
}
.green-icon-circle .icon,
.red-icon-circle .icon {
  width: 50px;
  height: 50px;
}
a.btn{
  .icon-arrow-right-white {
    width: 21px;
    position: relative;
    left: 21px;
  }
}
.icon-download {
  width: 55px;
}
.icon-main-shield{
  width: 412px;
  margin-top: 94px;
  margin-bottom: 137px;
  max-width: 100%;
  height: auto;
}
.icon-wasp-mad{
  width: 130px;
}
.chat-links{
  .icon-blue-chat-dots{
    left: -11px;
    width: 27px;
    top: 0px;
    vertical-align: bottom;
  }
  .icon-blue-mail{
    left: -15px;
    width: 23px;
    top: 3px;
  }
  .icon{
    position: relative;
  }
}
.icon-bubble-exclamation,
.icon-yield-sign{
  width: 93px;
}
.icon-yield-sign{
  margin-top: 201px;
}
.icon-brain-new{
  width: 721px;
  max-width: 100%;
  height: auto;
}
.icon-thief{
  display: none;
  position: absolute;
  width: 350px;
  top: -151px;
  left: 103px;
  z-index: -1;
}
.top-right-shield{
  z-index: 1;
  position: relative;
  fill: #fff;
}
.icon-top-right-shield_animated{
  position: absolute;
  width: 300px;
  left: 576px;
  top: 50px;
  display: none;
}
.hover{
  .icon{
    position: absolute;
  }
  .icon-bug-2{
    width: 155px;
    top: -104px;
    right: -120px;
  }
  .icon-bug-3{
    width: 354px;
    top: 2px;
    right: -660px;
  }
  .icon-buck{
    width: 80px;
    left: 211px;
  }
  .icon-worm{
    width: 99px;
    right: -28px;
    bottom: -31px;
  }
  .icon-bug-mobile{
    width: 100px;
    top: 210px;
    left: 660px;
  }
  .icon-rockets-incoming{
    top: -260px;
    left: -320px;
    width: 480px;
  }
  .icon-money-cloud{
    top: -440px;
    left: -423px;
    width: 590px;
  }
  .icon-number-screen{
    top: -372px;
    width: 379px;
    left: 356px;
  }
  .icon-alarm-clock{
    top: -166px;
    width: 150px;
    right: -300px;
  }
  .icon-credit-cards-falling{
    top: -294px;
    width: 162px;
    right: -27px;
  }
  -webkit-animation: fadeIn .3s normal forwards; /* Safari 4.0 - 8.0 */
  animation: fadeIn .3s normal forwards;
  cursor: pointer;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
/*=== End Icons ====*/

@import url('tools/border.scss');

/*==== Visiblity classes ====*/
.hidden{
  display: none;
}
/*==== End ====*/

/*
======
Start custom element styles below
Above should be modifer classes only (fonts, colors, sizing etc)
======
*/
.opaque{
  opacity: 0;
}
a{
  > .icon-blue-chat-dots {
    width: 23px;
    position: relative;
    top: 3px;
  }
}

/*==== Animation classes ====*/
.rotate-180{
  transform: rotate(178deg);
}
/*==== End ====*/
.no-hover{
  &:hover{
    text-decoration: none;
  }
}
/*
======
Plugin css
======
*/
/*==== green checks before elements ====*/
.green-check-before{
  &:before{
    content: "";
    background: url('icon-green-check.svg') no-repeat;
    height: 20px;
    width: 30px;
    left: -51px;
    position: absolute;
    top: 5px;
  }
  position: relative;
}
/*==== End ====*/
/*==== blue checks before elements ====*/
.blue-check-before{
  &:before{
    content: "";
    background: url('icon-blue-check.svg') no-repeat;
    height: 20px;
    width: 30px;
    left: -51px;
    position: absolute;
    top: 5px;
  }
  position: relative;
}
/*==== End ====*/
/*==== carousel fade ====*/
// Carousel fade transition
.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*==== End ====*/


/*==== Baraja card slider ====*/
ul.baraja-container {
  position: relative;
  padding: 0;
  list-style-type: none;
}

ul.baraja-container li {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-js ul.baraja-container {
  width: auto;
  height: auto;
  text-align: center;
}

.no-js ul.baraja-container li {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 310px;
  margin: 10px;
}
/*==== End ====*/
/*==== Blue & green gradient bg ====*/
.green-gradients{
  &:before{
    content: "";
    background : -moz-linear-gradient(0% 50% 0deg,rgba(35, 227, 144, 1) 0%,rgba(35, 227, 144, 0.5) 100%);
    background : -webkit-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.5) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(35, 227, 144, 1) ),color-stop(1,rgba(35, 227, 144, 0.5) ));
    background : -o-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.5) 100%);
    background : -ms-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.5) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23E390', endColorstr='#23E390' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23E390',endColorstr='#23E390' , GradientType=1);
    position: absolute;
    height: 153px;
    width: 100%;
    top: -66px;
    -webkit-clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    transform: skewY(-3deg);
  }
  &:after{
    background : -moz-linear-gradient(0% 50% 0deg,rgba(35, 227, 144, 1) 0%,rgba(35, 227, 144, 0.2) 100%);
    background : -webkit-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.2) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(35, 227, 144, 1) ),color-stop(1,rgba(35, 227, 144, 0.2) ));
    background : -o-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.2) 100%);
    background : -ms-linear-gradient(0deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.2) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23E390', endColorstr='#23E390' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(35, 227, 144, 1) 0%, rgba(35, 227, 144, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23E390',endColorstr='#23E390' , GradientType=1);
    content: "";
    position: absolute;
    height: 93px;
    width: 100%;
    bottom: -47px;
    -webkit-clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    transform: skewY(-2deg);
  }
  .container{
    transform: skewY(-2deg);
  }
  background: #23e390;
  transform: skewY(2deg);
  background-repeat: no-repeat;
  position: relative;
  // background: url('gradient-green.svg');
}
.hero_cta.green-gradients:before{
  top: -84px;
}
/*==== End ====*/
.phoneNumber{
  text-decoration: underline;
}

/*===== Chrome only styles =====*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .chrome-fw500{
    font-weight: 500;
  }
  .chrome-fw600{
    font-weight: 600;
  }
}
/*==== End ====*/
.medium-blue{
  fill: $medium-blue;
}
/*==== Vertical tabs color on hover(green) ====*/
.vert-tabs-green{
  .nav-link:hover{
    background-color: $white;
    color: $success-green;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
  .nav-link.active{
    background-color: $white;
    color: $success-green;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
  .nav-link.active:before {
    right: -22px;
    top: 46px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 12px;
    margin-top: -11px;
  }
  .nav-link{
    color: #000;
  }
}
.inner-page-tabs{
  .nav-link{
    .icon{
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 10px;
    }
    padding: rem(20);
  }
  .nav-link.active:before {
    margin-top: -25px;
  }
}
/*==== End ====*/
/*==== Word with lines module ====*/
.word-lines{
  .col-1:nth-child(1){
    top: -9px;
  }
  .col-1:nth-child(3){
    top: -11px;
    //right: -210px;
  }
}
/*==== End ====*/

/*==== Sale ribon ====*/
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
  font-size: rem(13);
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#C41230 0%, #C41230 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #C41230;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C41230;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #C41230;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C41230;
}
/*==== End ====*/
#MainContent{
  overflow: hidden;
}
/*==== Red & Green check Ul ====*/
.red-check{
  list-style-image: url("icon-check-red.svg");
}
.green-check{
  list-style-image: url("icon-check-green.svg");
}
.green-check-plain{
  list-style-image: url("icon-green-check.svg");
}
/*==== End ====*/
.form-control{
  background-color: #edf0f36e;
  border-color: rgba(207,214,218,0.5);
}
label{
  color: $grey-accent;
}
/*==== Checkbox custom ====*/
/* Customize the label (the container) */
.cd-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  top: 0;
  left: -42px;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*==== End ====*/
/*==== Socal media icons ====*/
.social-bar{
  .icon{
    height: 35px;
  }
}
/*==== End ====*/

/*==== Breadcumbs ====*/
.breadcrumbs{
  .icon-blue-home{
    height: rem(11);
  }
  .icon-grey-caret-right{
    height: rem(8);
  }
  position: relative;
  top: 11px;
}
/*==== End ====*/


/*== 
  Header elements 
 ==*/
.site-logo{
  width: 262px;
  position: relative;
  left: 20px;
}
.search-desktop{
  position: relative;
  top: -15px;
}
/*== Header logo ==*/
/*===Malware banner===*/
.malware-banner,
.malware-banner-mobile{
  .d-flex{
    height: 50px;
    div:nth-child(1){
      width: 166px;
      font-size: rem(20);
    }
    div:nth-child(2){
      font-size: rem(15);
    }
    div:nth-child(3){
      width: 266px;
      font-size: rem(20);
    }
  }
  .text-shadow{
    overflow: hidden;
    height: 42px;
    top: 3px;
  }
  background: url("icon-malware-loop.svg") 31% 0 no-repeat,url("icon-malware-loop.svg") 72% 0 no-repeat, $red;
  z-index: 1;
}
.malware-banner{
  .gt1{
    left: 116px;
    letter-spacing: 1px;
    top: -1px;
    height: 42px;
  }
  .gt2{
    top: -6px;
    left: 12px;
    position: relative;
    letter-spacing: 1px;
  }
  .gt3{
    left: -72px;
    top: 0px;
    height: 39px;
  }
  height: 45px;
}
/*=== End Malware banner===*/
/*=== Hero section ===*/
.hero{
  background: url('Banner.png') no-repeat;
  width: 100%;
  //min-height: 590px;
  background-position: center top;
}
.hero__cta--1{
  left: 231px;
}
.hero__cta--2{
  width: 60%;
  text-align: center;
  position: relative;
  left: 235px;
  top: 8px;
}
.hero__cta--3{
  span:nth-child(1){
    top: 52px;
    left: -28px;
  }
  span:nth-child(2),
  span:nth-child(4),{
    top: 27px;
  }
  span:nth-child(5){
    top: 60px;
    left: -20px;
  }
  left: 255px;
  top: -30px;
}
.hero__cta--4{
  a{
    .btn-text{
      overflow: hidden;
      padding: 12px 60px;
      position: relative;
      height: 58px;
    }
    color: #fff;
    overflow: hidden;
  }
  left: 235px;
  top: -45px;
}
/*=== End Hero section ===*/
/*=== Malware banner bugs ===*/
#bug1{
  width: 42px;
  position: absolute;
  margin: 0 auto;
  left: -1110px;
  right: 0;
}
#bug2{
  width: 42px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: -1025px;
  transform: rotate(90deg);
}
/*=== End Malware banner bugs ===*/
/*==== tab-security-info ====*/
.tab-security-info{
  button{
    padding: rem(10) rem(39);
  }
  .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle{
    border: none;
    box-shadow: inset 18px 15px 24px -10px rgba(0, 0, 0, 0.25098);
    background-color: lighten($success-green, 10%);
    line-height: 1.2;
  }
  .btn-light:not([disabled]):not(.disabled){
    box-shadow: inset 8px 2px 31px 0px rgb(255, 255, 255), 1px 1px 2px 0px rgba(162, 159, 159, 0.75);
    line-height: 1.2;
  }
  .btn-success.active{
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(47, 189, 110, 0);
      border-bottom-color:  #28a25f;
      border-width: 7px;
      margin-left: -7px;
    }
    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 14px;
      margin-left: -14px;
    }
  }

  .btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
    border: none;
    box-shadow: inset -18px 15px 24px -10px rgba(0, 0, 0, 0.25098);
    background-color: lighten($red, 10%);
    line-height: 1.2;
  }
  .btn-danger.active{
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(47, 189, 110, 0);
      border-bottom-color:  #b51832;
      border-width: 7px;
      margin-left: -7px;
    }
    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 14px;
      margin-left: -14px;
    }
  }
  margin-bottom: 117px;
}
/*==== End ====*/
.mobile-navbar{
  top: -19px;
}
/*==== Main header links to pages ====*/
.main-links{}
/*==== End ====*/
/*==== Green & red circles with icons ====*/
.green-icon-circle{
  svg{
    position: relative;
    top: 18px;
  }
  border: 1px solid $success-green;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: auto;
}
.red-icon-circle{
  svg{
    position: relative;
    top: 18px;
    z-index: -1;
  }
  border: 1px solid $red;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: auto;
  background: linear-gradient(135deg, transparent 53%, $red 46%, $red 52%, transparent 54%);
}
/*==== ENd ====*/

/*==== Partners section ====*/
.partners{
}
/*==== End ====*/
/*==== Page Hero section ====*/
.page-hero{
  padding-top: rem(86);
}
#security-information-amp-event-management-siem{
  .page-hero{
    padding-top: rem(46);
  }
}
/*==== End ====*/

/*==== Hacked section ====*/
.hacked{
  .icon-long-green-line{
    position: absolute;
    width: 194px;
    left: 140px;
  }
  a.btn .icon-arrow-right-white {
    width: 21px;
    position: relative;
    left: 21px;
    top: -3px;
  }
  .hack-img:before {
    content: "";
    background: url(free-laptop.svg) no-repeat;
    position: absolute;
    height: 360px;
    width: 660px;
    top: -254px;
    left: 177px;
    z-index: -1;
  }
  // background: url("free-laptop.svg") no-repeat;
  // background-position: 47.5% 80%;
  // background-size: 606px;
  padding-top: 2.1rem;
}
/*==== End ====*/
/*==== Protect section tabs ====*/
.protect{
  .nav-link{
    .icon{
      width: 50px;
      height: 50px;
    }
    padding: 1.5rem 0.1rem;
  }
  .tab-pane{
    .icon{
      width: 105px;
      height: 105px;
    }
    .icon-blue-arrow-right{
      width: 12px;
      height: 12px;
    }
  }
}
/*==== End ====*/
/*==== Reporting section ====*/
.reporting{
  .vert-tabs-green{
    .nav-link{
      padding: rem(16) rem(40);
      line-height: 1.5;
    }
    .nav-link:hover{
      >.hover-me{
        color: $success-green;
      }
      span:last-child{
        color: #000;
      }
    }
    .nav-link.active{
      .hover-me{
        color: $success-green;
      }
      span:last-child{
        color: #000;
      }
    }
    .nav-link:before{
      top: 96px;
    }
  }
  nav{
    svg{
      width: 11%;
      cursor: pointer;
      margin-right: 16px;
    }
    top: rem(660);
  }
  overflow: hidden;
}
.img-flipper{
  img{
    width: 1270px;
  }
}
/*==== End ====*/
/*==== Gradient Dots for ul ====*/
.gradient-dots {
  li:before{
    content: ".";
    //content: "•";
    color: transparent;
    width: 20px;
    margin-right: 20px;
    margin-left: -20px;
    top: -4px;
    position: relative;
  }
  li.grey-75:before {
    content: ".";
    color: rgba(135, 153, 163, 0.75);
  }
  /*class for 100% grey*/
  li.grey-100:before {
    content: ".";
    color: rgba(135, 153, 163, 1);
  }
  /*class for 30% grey*/
  li.grey-50:before {
    content: ".";
    color: rgba(135, 153, 163, 0.50);
  }
  li.grey-25:before {
    content: ".";
    color: rgba(135, 153, 163, 0.25);
  }
  li{
    margin: 15px;
  }
  padding-left: 18px;
}
/*==== End ====*/
/*==== Counting Number ====*/
.counting-numbers{
  &:before{
    content: "";
    position: absolute;
    background: -moz-linear-gradient(0% 50% 0deg,rgba(63, 69, 99, 0.6) 0.37%,rgba(70, 90, 124, 0.64) 36.64%,rgba(76, 106, 143, 0.67) 73.96%,rgba(78, 112, 150, 0.7) 99.87%);
    background: -webkit-linear-gradient(0deg, rgba(63, 69, 99, 0.6) 0.37%, rgba(70, 90, 124, 0.64) 36.64%, rgba(76, 106, 143, 0.67) 73.96%, rgba(78, 112, 150, 0.7) 99.87%);
    background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0037,rgba(63, 69, 99, 0.6) ),color-stop(0.3664,rgba(70, 90, 124, 0.64) ),color-stop(0.7396,rgba(76, 106, 143, 0.67) ),color-stop(0.9987,rgba(78, 112, 150, 0.7) ));
    background: -o-linear-gradient(0deg, rgba(63, 69, 99, 0.6) 0.37%, rgba(70, 90, 124, 0.64) 36.64%, rgba(76, 106, 143, 0.67) 73.96%, rgba(78, 112, 150, 0.7) 99.87%);
    background: -ms-linear-gradient(0deg, rgba(63, 69, 99, 0.6) 0.37%, rgba(70, 90, 124, 0.64) 36.64%, rgba(76, 106, 143, 0.67) 73.96%, rgba(78, 112, 150, 0.7) 99.87%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F4563', endColorstr='#4E7096' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(63, 69, 99, 0.6) 0.37%, rgba(70, 90, 124, 0.64) 36.64%, rgba(76, 106, 143, 0.67) 73.96%, rgba(78, 112, 150, 0.7) 99.87%);
    width: 1799px;
    height: 106px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F4563',endColorstr='#4E7096' , GradientType=1);
    background-position: 0px 0;
    height: 145px;
    width: 100%;
    top: -43px;
    transform: skewY(-2deg);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 38%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 38%);
  }
  &:after{
    content: "";
    position: absolute;
    background: -moz-linear-gradient(100% 50% 180deg,rgba(47, 52, 73, 1) 0.12%,rgba(58, 63, 91, 0.89) 39.05%,rgba(63, 69, 99, 0.8) 69.97%,rgba(63, 69, 99, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(47, 52, 73, 1) 0.12%, rgba(58, 63, 91, 0.89) 39.05%, rgba(63, 69, 99, 0.8) 69.97%, rgba(63, 69, 99, 1) 100%);
    background: -webkit-gradient(linear,100% 50% ,0% 50% ,color-stop(0.0012,rgba(47, 52, 73, 1) ),color-stop(0.3905,rgba(58, 63, 91, 0.89) ),color-stop(0.6997,rgba(63, 69, 99, 0.8) ),color-stop(1,rgba(63, 69, 99, 1) ));
    background: -o-linear-gradient(180deg, rgba(47, 52, 73, 1) 0.12%, rgba(58, 63, 91, 0.89) 39.05%, rgba(63, 69, 99, 0.8) 69.97%, rgba(63, 69, 99, 1) 100%);
    background: -ms-linear-gradient(180deg, rgba(47, 52, 73, 1) 0.12%, rgba(58, 63, 91, 0.89) 39.05%, rgba(63, 69, 99, 0.8) 69.97%, rgba(63, 69, 99, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F3449', endColorstr='#3F4563' ,GradientType=0)";
    background: linear-gradient(-90deg, rgba(47, 52, 73, 1) 0.12%, rgba(58, 63, 91, 0.89) 39.05%, rgba(63, 69, 99, 0.8) 69.97%, rgba(63, 69, 99, 1) 100%);
    filter: alpha(opacity=45) progid:DXImageTransform.Microsoft.Alpha(opacity=45) progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F4563',endColorstr='#2F3449' , GradientType=1);
    background-position: 0px 0;
    height: 175px;
    width: 100%;
    bottom: -74px;
    -webkit-clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 53%, 100% 100%, 0 100%);
    transform: skewY(-2deg);
  }
  .container{
    transform: skewY(-2deg);
  }
  background: linear-gradient(90deg, rgba(47, 52, 73, 1) 0%, rgba(47, 52, 73, 1) 10%, rgba(63, 69, 99, 1) 90%, rgba(63, 69, 99, 1) 100%);
  background-size: cover;
  top: 72px;
  transform: skewY(2deg);
}
/*==== End ====*/
/*==== Malware green bug section ====*/
.malware-bug{
  .icon-worm{
    width: 130px;
    position: absolute;
    z-index: 1;
    left: rem(420);
    bottom: -107px;
  }
  .icon-bug-trail{
    width: 465px;
    position: absolute;
    z-index: 1;
    right: 332px;
    top: -67px;
    transform: skewY(-2deg);
  }
  &:before{
    content: "";
    position: absolute;
    height: 133px;
    width: 100%;
    top: -56px;
  }
  &:after{
    content: "";
    position: absolute;
    height: 93px;
    width: 100%;
    bottom: -47px;
  }
  .container{
    transform: skewY(-2deg);
  }
  .icon-bug-mobile{
    width: 220px;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
  background: url(number-bg.svg), #23e390;
  transform: skewY(2deg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 71px;
  padding: 4rem 0;
  margin-bottom: 247px;
}
/*==== Live chat seciton ====*/
.live-chat{
  .icon-chat-set{
    width: 150px;
    margin-bottom: 23px;
    position: relative;
    left: 13px;
  }
}
/*==== End ====*/
/*==== Pricing section ====*/
.pricing{
  .icon-blue-arrow-right{
    width: 13px;
  }
}
/**==== End ====/
/*==== Price Box ====*/
.price-box{
  .dollar-sign{
    position: relative;
    top: -24px;
  }
  .cents{
    position: relative;
    top: -30px;
  }
  .icon{
    width: 50px;
  }
  p{
    margin-bottom: 0;
  }
  select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
  }
  /* target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
    select {
      background:none\9;
      padding: 5px\9;
    }
  }
  select.green-outline {
    border: 1px solid $success-green;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(green-chevron-down.svg) 94%/7% no-repeat #fff;
  }
  select.blue-outline {
    border: 1px solid $blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(light-blue-chevron-down.svg) 94%/7% no-repeat #fff;
  }
  select.darkish-blue-outline {
    border: 1px solid $darkish-blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(blue-chevron-down.svg) 94%/7% no-repeat #fff;
  }
  .progress{
    height: rem(10);
  }
  //border: 1px solid #edf0f3;
  //border-radius: rem(4);
  padding: rem(30) rem(40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*==== End ====*/
/*==== Bottom of page ====*/
.bottom{
  background-color: #e3e8ed;
  .list-inline{
    li{
      margin-right: 15px;
    }
  }
  a{
    margin: 0 10px;
    text-decoration: underline;
  }
  .copy{
    a{
      color: $darkish-blue;
    }
  }
}
/*==== End ====*/
/*==== Biz size section ====*/
.biz-size{
  .icon-small-biz_2 {
    width: 432px;
    height: 316px;
    position: relative;
    left: -90px;
    top: 24px;
  }
  .icon-med-biz {
    width: 280px;
    height: 284px;
    position: relative;
    top: 40px;
    left: 43px;
  }
  .icon-large-biz{
    width: 322px;
    height: 284px;
    position: relative;
    top: 8px;
    left: -56px;
  }
  button.btn{
    padding: 7.5px 26px;
  }
}
/*==== End ====*/
/*==== covered-web ====*/
.covered-web{
  .icon{
    width: 100px;
    height: 130px;
  }
  .icon-green-defense,
  .icon-green-cloud-server{
    height: 112px;
    position: relative;
    top: 11px;
  }
  .green-check-plain{
    li:first-child {
      margin-bottom: 40px;
    }
    li:nth-child(2) {
      margin-bottom: 41px;
    }
    li{
      min-height: 106px;
    }
  }
  background : -moz-linear-gradient(50% 19.85% -90deg,rgba(237, 240, 243, 0) 0%,rgba(237, 240, 243, 0.4) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(237, 240, 243, 0) 0%, rgba(237, 240, 243, 0.4) 100%);
  background : -webkit-gradient(linear,50% 19.85% ,50% 44.92% ,color-stop(0,rgba(237, 240, 243, 0) ),color-stop(1,rgba(237, 240, 243, 0.4) ));
  background : -o-linear-gradient(-90deg, rgba(237, 240, 243, 0) 0%, rgba(237, 240, 243, 0.4) 100%);
  background : -ms-linear-gradient(-90deg, rgba(237, 240, 243, 0) 0%, rgba(237, 240, 243, 0.4) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDF0F3', endColorstr='#EDF0F3' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(237, 240, 243, 0) 0%, rgba(237, 240, 243, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDF0F3',endColorstr='#EDF0F3' , GradientType=0);
}
/*==== End ====*/
/*==== Benefits section (not page) ====*/
.benefits{
  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 21px;
  }
}
/*==== End ====*/
/*==== War room BG ====*/
.war-room{
  background: url(icon-war-room.svg) 83px 7px no-repeat;
  min-height: 642px;
  position: relative;
  z-index: 10;
}
.mobile.war-room{
  background: url(icon-war-room.svg) 10px 0/100% 100% no-repeat;
  min-height: 230px;
}
.war-floor{
  height: 369px;
  transform: perspective(353px) rotateX(49deg);
  position: absolute;
  top: -383px;
  margin-bottom: -180px;
  z-index: 1;
  width: 100%;
}
.fade-white{
  top: 69px;
  background : -moz-linear-gradient(50% 95.77% 90deg,rgba(255, 255, 255, 1) 0%,rgba(237, 240, 243, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 243, 1) 100%);
  background : -webkit-gradient(linear,50% 95.77% ,50% 3.73% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(237, 240, 243, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 243, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 243, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDF0F3' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 240, 243, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDF0F3',endColorstr='#FFFFFF' , GradientType=0);
}
/*==== End ====*/
/*==== Dangerous Web ====*/
.dangerous-web{
  .icon-city-pie{
    float: right;
    width: 600px;
    height: 526px;
    position: relative;
    left: 178px;
    top: -37px;
  }
  .icon-city-pie ~ p{
    margin-top: 44px;
    left: 115px;
    position: relative;
  }
  .icon-download{
    width: 81px;
  }
}
/*==== End ====*/
/*==== Comodo Cta ====*/
.comodo-cta{
  &:before{
    content: "";
    position: absolute;
    background: url('icon-big-c.svg') no-repeat; 
  }
  .large-c{
    left: 81px;
    top: -18px;
  }
  background: #c4122f;
  background: -moz-linear-gradient(-45deg, #c4122f 0%, #c9353d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #c4122f), color-stop(100%, #c9353d));
  background: -webkit-linear-gradient(-45deg, #c4122f 0%, #c9353d 100%);
  background: -o-linear-gradient(-45deg, #c4122f 0%, #c9353d 100%);
  background: -ms-linear-gradient(-45deg, #c4122f 0%, #c9353d 100%);
  background: linear-gradient(135deg, #c4122f 0%, #c9353d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4122f', endColorstr='#c9353d', GradientType=1 );
  color: #fff;
}
/*==== End ====*/
.shopify-preview-bar{
  display: none !important;
}
/*==== Firewall large svg ====*/
.fire-wall{
  background: url('fire-wall.svg') center center no-repeat;
  height: 490px;
}
.fire-wall.show-mobile-768 {
  background: url(fire-wall.svg) center center no-repeat;
  height: 180px;
  background-size: contain;
}
/*==== End ====*/
/*==== Target slider section ====*/
.target{
  .icon-owasp-text{
    width: 250px;
  }
  .target-content{
    .icon-green-circle-arrow-left{
      position: absolute;
      height: 67px;
      width: 67px;
      top: 50%;
      left:0;
      cursor: pointer;
    }
    .icon-green-circle-arrow-right{
      position: absolute;
      width: 67px;
      height: 67px;
      top: 50%;
      right: 0;
      cursor: pointer;
    }
  }
  .progress{
    height: rem(5);
  }
}
/*==== End ====*/
/*==== World Wide svg ====*/
.world-wide{
  .popup{
    .icon{
      width: rem(65);
    }

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136,183,213,0);
      border-top-color: #68cbf8;
      border-width: 14px;
      margin-left: -215px;
      transform: rotate(273deg);
      top: 174px;
    }

    position: absolute;
    background: #68cbf8;
    width: 430px;
    padding: rem(16);
    border-radius: rem(4) rem(4) rem(4) rem(0);
    right: 29%;
    left: auto;
    top: 41%;
  }
  background: url('world-wide.svg') center center no-repeat;
  height: 620px;
}
/*==== End ====*/
.cdn-tabs{
  .icon-cdn-showoff{
    width: 450px;
  }
}
/*==== protection-guarantee ====*/
.protection-guarantee{
  ul.green-check-plain.HeaderB-Level5 li {
    margin: 30px 0;
  }
}
/*==== End ====*/ 
/*==== Pricing page ====*/
.price-block{
  .icon-chat-dots-blue-dark{
    width: 24px;
    vertical-align: inherit;
    padding-right: 4px;
  }
  .icon-green-check {
    width: 16px;
    margin-right: 9px;
  }
  .price-box{
    padding: rem(30) rem(40);
  }
  .icon-green-plus{
    width: 18px;
    vertical-align: middle;
    height: 22px;
  }
  .icon-question{
    width: 18px;
  }
  .collapse{
    .icon-green-check{
      margin-right: 0;
      margin-left: 21px;
    }
  }
}
.price-block-mobile{
  #mobile-price-slider{
    .carousel-inner{
      overflow: inherit;
    }
    .icon-chevron-right-white{
      width: 8px;
    }
  }
}
/*==== End ====*/
.icon-bombs:after{
  content: "";
  background: url('icon-bombs_1.svg') no-repeat;
  position: absolute;
  width: 457px;
  height: 210px;
  right: -316px;
  top: -106px;
}
/*==== Product features ====*/
.product-features{
  .icon-shield-green,
  .icon-green-guy,
  .icon-green-fire-wall,
  .icon-green-cloud{
    width: 39px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .icon-green-check{
    width: 18px;
    vertical-align: super;
    margin-left: 18px;
  }
  .icon-question{
    width: 18px;
  }
}
.product-features-mobile{
  .icon-shield-green,
  .icon-repsonse-team-green,
  .icon-green-fire-wall,
  .icon-green-cloud{
    width: 150px;
  }
  .icon-green-check{
    width: 40px;
    height: 54px;
  }
}
/*==== End ====*/
/*==== sticky price menu ====*/
.sticky-prices{
  background-color: #fff;
}
/*==== End ====*/
/*==== Mobile circles ====*/
.circle {
  border-radius: 50%;
  border: 1px solid $grey;
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
}
.inner-circle {
  height: 10px;
  width: 10px;
  background-color: $grey-accent;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  margin: auto;
}
.line-through{
  position: relative;
  top: 14px;
  border-radius: 4px;
}
.circle.active{
  >.inner-circle{
   display: none;
  }
  background-color: $red;
}
/*==== End ====*/
.flipster__item{
  background: #fff;
}
.siem{
  .icon-grey-circle{
    width: 95px;
    float: left;
  }
}
.flip-through{
  .icon{
    width: 95px;
  }
}
.clearfix{
  clear: both;
}
.red-transform{
  &:before {
    content: "";
    position: absolute;
    top: -721px;
    border-left: 402px solid transparent;
    border-bottom: 1080px solid #c41230;
    transform: rotate(88deg);
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    top: -680px;
    border-left: 446px solid transparent;
    border-bottom: 991px solid red;
    transform: rotate(87deg);
    z-index: -2;
    left: 50px;
  }
}
.benefits-box{
  .icon{
    width: 50px;
    height: 50px;
  }
}
.icon-content-box{
  .icon{
    width: 320px;
  }
}
/*= === Mobile sections (should be right above media queries to override any css above it) ====*/
.mobile{
  .carousel-item{
    padding: rem(30) rem(30);
  }
  .carousel-indicators{
    li {
      width: 20px;
      height: 20px;
      margin-right: 9px;
      margin-left: 9px;
      text-indent: -999px;
      background-color: $grey-accent;
      border-radius: 50%;
    }
    .active{
      background-color: $blue;
    }
    bottom: -45px;
  }
  .slide-content{
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    padding: rem(30) rem(30);
  }
  .icon-blue-caret-down{
    width: 11px;
    vertical-align: middle;
  }
  .icon-blue-swip-left,
  .icon-blue-finger-right,
  .icon-blue-hand-left-right{ 
    width: 65px;
    height: 58px;
  }

  .more{
    cursor: pointer;
  }
}
.inner-page-mobile-tabs{
  #mobile-protect-slider{
    .title-icon{
      .icon{
        width: 120px;
        height: 120px;
      }
    }
  }
  .icon-blue-hand-left-right{
    width: 75px;
  }
}
.security-partners-mobile{
  .word-lines .col-1:nth-child(3) {
    top: -11px;
    right: 0;
  }
}
.reporting-mobile{
  .icon-blue-caret-down{
    width: 17px;
    margin-left: 18px;
    transition-duration: 0.5s;
  }
  .mobile-accordian-child{
    a:hover{
      text-decoration: none;
    }
    a.grey-text:hover{
      color: $grey-accent;
      text-decoration: none;
    }
  }
  .icon-blue-caret-down.open{
    path{
      stroke: $grey;
    }
  }
}
.security-show-mobile{
  .icon-blue-hand-left-right {
    width: 70px;
  }
}
.pricing-mobile{
  .btn-group{
    button:nth-child(1){
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    button:nth-child(3){
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
  .icon-blue-arrow-right{
    width: 13px;
  }
}
#mobile-price-slider{
  .green-bg-check{
    li:before{
      content: "";
      background: url(icon-green-check.svg) no-repeat;
      height: 21px;
      width: 16px;
      position: absolute;
      left: -20px;
      transform: scaleX(-1);
      margin-top: -4px;
    }
    position: relative;
    margin-left: 23px
  }
  .price-box{
    .icon-green-check{
      width: 30px;
    }
    background-color: #fff;
    padding: 10px;
  }
  .carousel-item{
    padding: 0;
  }
  .price-box ul .icon-green-check{
    width: 17px;
    margin-right: 10px;
  }
}
.footer-mobile{
  .icon-green-chat-dits {
    width: 23px;
    position: relative;
    top: 4px;
    left: -6px;
  }
}
.details-layover{
  .icon-green-check{
    width: 25px;
  }
  position: fixed;
  background-color: #fff;
  z-index: 1021;
  top: 0;
  max-width: 90%;
  right: -740px;
  overflow-y: scroll;
  height: 100%;
  cursor: pointer;
}
.details-show{
  right: 0;
}
/*==== End ====*/
.malware-removal{
  .icon-fly-bugs{
    display: none;
  }
  .icon-blue-caret-down{
    width: 12px;
    vertical-align: middle;
  }
}
.malware-removal > .container{
  > .row{
    &:before,&:after{
      content: "";
      position: absolute;
    }
    &:before{
      background: url('icon-fishing.svg') no-repeat;
      width: 480px;
      height: 300px;
      z-index: 1;
      top: -54px;
      left: 160px;
    }
    &:after{
      background: url('icon-clear-crap.svg') no-repeat;
      width: 480px;
      height: 300px;
      z-index: 1;
      bottom: -81px;
    }
    > .col-lg-12{
      &:before,&:after{
        content: "";
        position: absolute;
      }
      &:before{
        background: url('icon-sm-worm.svg') no-repeat;
        width: 70px;
        height: 60px;
        bottom: -1px;
        right: -14px;
      }
      &:after{
        background: url('icon-worm.svg') no-repeat;
        width: 80px;
        height: 120px;
        bottom: -31px;
        right: 41px;
      }
    }
  }
    
  &:before,&:after{
    content: "";
    position: absolute;
  }
  &:before{
    background: url('icon-fly-bugs.svg') no-repeat;
    width: 480px;
    height: 300px;
    left: -730px;
  }
  &:after{
    background: url('icon-bug-trail.svg') no-repeat;
    width: 463px;
    height: 500px;
    right: -70px;
    top: 0px;
  }
  .icon-sm-worm{
    bottom: 23%;
    right: 19.8%;
    width: 60px;
    position: absolute;
  }
  .icon-clear-crap{
    position: absolute;
    bottom: 15%;
    left: 20%;
    width: 150px;
  }
  .icon-worm{
    bottom: 19%;
    right: 22%;
    width: 60px;
    position: absolute;
    transform: scale(-1, 1);
  }
  .malware-remove-box{
    .icon-green-check{
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 10px;
    }
    .icon-green-line{
      max-width: 210px;
    }
    background: #fff;
  }
}
.comodo-bld {
  background: url(icon-comodo-bld.svg) no-repeat;
  height: 481px;
  background-position: top;
}
.background-none{
  background: none;
}
.show-mobile-992,
.show-mobile-768,
.show-mobile-575{
  display: none;
}
.footer{
  .site-logo{
    position: relative;
    left: 16px;
    top: -6px;
  }
  .social-text{
    left: 46px;
    top: 15px;
  }
  .word-lines{
    span:nth-child(1),
    span:nth-child(3){
      top: -9px;
    }
  }
}
//pixel perfect responsive killer styles
.nav-item.dropdown{
  margin-right: 27px;
}
.nav-item.dropdown:last-child{
  margin: 0;
}

//special move classes that are required to break fluidness but make it pixel perfect
.move-1{
  margin-top: 67px;
  margin-bottom: 8px;
}
//end killer stuff

#customer_login_link,
#customer_register_link{
  color: $grey-accent;
}

/*==== Security home page slider mobile ====*/
#security-mobile-slider{
  .carousel-inner{
    overflow: inherit;
  }
  .icon-bug-2{
    position: absolute;
    top: -230px;
    left: -70px;
    width: 130px;
  }
  .icon-money-cloud{
    position: absolute;
    top: -450px;
    width: 600px;
    left: 50px;
    max-width: 100%;
    height: auto;
  }
  .icon-rockets-incoming{
    position: absolute;
    top: -520px;
    width: 490px;
  }
  .icon-bug-3{
    top: -280px;
    left: 320px;
    width: 290px;
    position: absolute;
  }
  .icon-worm{
    top: 240px;
    right: -1px;
    width: 101px;
    position: absolute;
  }
  .icon-bug-mobile{
    top: -100px;
    left: 220px;
    width: 110px;
    position: absolute;
  }
  .icon-number-screen{
    position: absolute;
    top: -387px;
    left: 124px;
    width: 437px;
  }
  .icon-alarm-clock{
    position: absolute;
    top: -127px;
    right: 130px;
    width: 150px;
  }
  .icon-credit-cards-falling{
    position: absolute;
    top: -247px;
    left: 144px;
    width: 150px;
  }
}
/*==== End ====*/
.siem-svg{
  background: url('icon-siem.svg') no-repeat;
  height: 645px;
  background-position: center;
}
.siem-svg.show-mobile-768{
  background: url('icon-siem-mobile.svg') no-repeat;
  height: 337px;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
}
.toolTip{
  &:after{
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; 
    border-color: rgba(255,255,255,0);
    border-top-color: #FFF;
    border-width: 21px;
    margin-left: -230px;
    transform: rotate(-90deg);
    top: 212px;
  }
  position: absolute;
  top: -250px;
  width: 460px;
  left: 50px;
}
/*==== Free malware form ====*/
.free-malware-form{
  .form-control:focus label{
    color: $blue;
  }
}
/*==== End ====*/
//contact us forms
.form-type{
  .icon-grey-headset,
  .icon-no-check,
  .icon-white-headset,
  .icon-blue-check-bg,
  .icon-grey-gears,
  .icon-white-gears,
  .icon-chat-set-sm{
    width: 50px;
    height: 41px;
  }
  .icon-no-check,
  .icon-blue-check-bg{
    float: right;
  }
  .sales-form,
  .tech-form{
    .icon-chat-set-sm,
    .icon-blue-chat-dots,
    .icon-blue-mail{
      width: 20px;
      height: inherit;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
.form-type-mobile{
  .header{
    .icon-grey-headset,
    .icon-grey-gears,
    .icon-chat-set-sm{
      width: 50px;
      height: 41px;
    }
  }
  .content{
    .icon-chat-set-sm,
    .icon-blue-chat-dots,
    .icon-blue-mail{
      width: 60px;
    }
    .icon-tool-box{
      width: 140px;
    }
  }
}
//how-works free malware page
.how-works{
  .green-circle,
  .grey-circle{
    cursor: pointer;
    margin: 0 auto;
  }
  .green-circle{
    border-radius: 50%;
    background: $success-green;
    height: 70px;
    width: 70px;
    color: #fff;
  }
  .grey-circle{
    border-radius: 50%;
    background: $grey;
    height: 70px;
    width: 70px;
    color: $success-green;
  }
  .green-circle:after{
    top: 97%;
    left: 55%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-top-color: $success-green;
    border-width: 10px;
    margin-left: -18px;
  }
}
.compare{
  .circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 auto;
    border:none;
  }
  .green-circle{
    background: $success-green;
  }
  .grey-circle{
    background: $grey;
  }
  .blue-circle{
    background: $blue;
  }
  .row-move-up{
    top: -12px;
    position: relative;
  }
  .icon-green-bug-single,
  .icon-blue-protect-shield,
  .icon-blue-fire-wall,
  .icon-blue-person,
  .icon-blue-cloud{
    width: 40px;
    vertical-align: middle;
    height: 40px;
  }
}
.compare-mobile{
  .circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 auto;
    border:none;
  }
  .green-circle{
    background: $success-green;
  }
  .grey-circle{
    background: $grey;
  }
  .blue-circle{
    background: $blue;
  }
  .icon-green-bug-single,
  .icon-blue-protect-shield,
  .icon-blue-fire-wall,
  .icon-blue-cloud,
  .icon-blue-person{
    width: 100px;
  }
  .row-height-center{
    .col-4{
      min-height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .row-title{
    position: absolute;
    width: 330px;
    left: 0;
    right: 0;
    font-size: 15px;
    margin: auto;
    z-index: 1;
    top: 20px;
    @extend .mont;
  }
}
#support{
  .icon-chat-set-sm,
  .icon-blue-chat-dots,
  .icon-blue-mail{
    width: 20px;
    margin-right: 10px;
    height: 20px;
    vertical-align: text-top;
  }
}

/*==== Site wide media quieries ====*/
@import url('tools/media-queries.scss');