/*=== Border classes ====*/
.border{
  border: 1px solid;
}
.border-top{
  border-top: 1px solid;
}
.border-left{
  border-left: 1px solid;
}
.border-right{
  border-right: 1px solid;
}
.border-bottom{
  border-bottom: 1px solid;
}
// border dashed classes
.border-dash{
  border: 1px dashed;
}
.border-dash-bottom{
  border-bottom: 1px dashed;
}
.border-white{
  border-color: $white;
}
.border-off-white{
  border-color: $offWhite;
}
.border-grey{
  border-color: $grey-accent;
}
.border-grey60{
  border-color: $grey60;
}
.border-grey-light{
  border-color: $grey;
}
.border-blue{
  border-color: $blue;
}
.border-black{
  border-color: #000;
}
.border-green{
  border-color: $success-green;
}
.border-dark-blue{
  border-color: $darkish-blue;
}
.border-thicker-2{
  border-width: 2px;
}
.border-thicker-3{
  border-width: 3px;
}
.border-thicker-4{
  border-width: 4px;
}
.border-thicker-5{
  border-width: 5px;
}
//border radius classes
.br-0{
  border-radius: 0;
}
.br{
  border-radius: 1px;
}
.br-2{
  border-radius: 2px;
}
.br-3{
  border-radius: 3px;
}
.br-4{
  border-radius: 4px;
}
/*=== End ===*/
//shadows
.drop-shadow{
  @include prefix(box-shadow, 0px 0px 14px rgba(55,62,90,0.2), webkit ms spec);
}
.drop-shadow-sides{
  box-shadow:10px 0px 10px -7px rgba(0,0,0,0.23), -10px 0px 10px -7px rgba(0,0,0,0.23);
}