/*===== Text colors ======*/
.white-text{
  color: $white;
}
.black-text{
  color: #000;
}
.green-text{
  color: $success-green;
}
.darkish-blue-text{
  color: $darkish-blue;
}
.grey-text{
  color: $grey-accent;
}
.blue-text{
  color: $blue;
}
/*===== End ======*/
/*==== Background colors ====*/
.grey-background{
  background-color: $grey;
}
.grey-background-40{
  background-color: $grey-40;
}
.light-grey-background{
  background-color: $light-grey;
}
.accent-grey1-background{
  background-color: $accent-grey1;
}
.red-bg{
  background-color: $red;
}
/*==== End ====*/