/*===== Text colors ======*/
.white-text{
  color: $white;
}
.black-text{
  color: #000;
}
.green-text{
  color: $success-green;
}
.darkish-blue-text{
  color: $darkish-blue;
}
.grey-text{
  color: $grey-accent;
}
.blue-text{
  color: $blue;
}
.red-text{
  color: $red;
}
/*===== End ======*/
/*==== Background colors ====*/
.grey-background{
  background-color: $grey;
}
.grey-background-40{
  background-color: $grey-40;
}
.light-grey-background{
  background-color: $light-grey;
}
.accent-grey1-background{
  background-color: $accent-grey1;
}
.darkish-blue-background{
  background-color: $darkish-blue;
}
.red-bg{
  background-color: $red;
}
.white-background{
  background-color: #fff;
}
.blue-background{
  background-color: $blue;
}
/*==== End ====*/

/*==== SVG colors ====*/
.svg-grey{
  fill: $grey-accent;
}
.svg-green{
  fill: $success-green;
}
.blue-stroke{fill:none;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.blue-stroke-white{fill:#fff;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.blue{fill:#373e5a;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;} 
.fly-line1{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:5.88 3.92 10.78 5.88;}
.fly-line2{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:3.92 10.78 5.88 3.92 10.78 5.88;}
/*========*/