/*===== Text colors ======*/
.white-text{
  color: $white;
}
.black-text{
  color: #000;
}
.green-text{
  color: $success-green;
}
.darkish-blue-text{
  color: $darkish-blue;
}
.grey-text{
  color: $grey-accent;
}
.blue-text{
  color: $blue;
}
.red-text{
  color: $red;
}
/*===== End ======*/
/*==== Background colors ====*/
.grey-background{
  background-color: $grey;
}
.grey-background-40{
  background-color: $grey-40;
}
.light-grey-background{
  background-color: $light-grey;
}
.accent-grey1-background{
  background-color: $accent-grey1;
}
.darkish-blue-background{
  background-color: $darkish-blue;
}
.red-bg{
  background-color: $red;
}
.white-background{
  background-color: #fff;
}
.blue-background{
  background-color: $blue;
}
/*==== End ====*/

/*==== SVG colors ====*/
.svg-grey{
  fill: $grey-accent;
}
.svg-green{
  fill: $success-green;
}
//strokes
.blue-stroke{fill:none;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.blue-stroke-white{fill:#fff;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}    
//fills
.blue{fill:#373e5a;}
.grey{fill:#969c9c;}
.medium-blue{fill:#3f4563}
.bright-blue{fill:#03a9f4;}
.light-blue-grey{fill:#edf0f3;}
.red{fill:#c41230;}
.white{fill:#fff;}
//dashes
.grey-dash1{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:2 3;}
.grey-dash2{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:2.12 3.17;}
.fly-line1{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:5.88 3.92 10.78 5.88;}
.fly-line2{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:3.92 10.78 5.88 3.92 10.78 5.88;}
.light-blue-grey{fill:#edf0f3;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.light-blue-stroke{fill:none;stroke:#4e7096;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.medium-blue-stroke{fill:none;stroke:#3f4563;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.benefit-bullets{font-family:Lato;font-size:15px;color:#373e5a;}