   @keyframes rihvOgFN_draw160 {
    from {
      stroke-dashoffset: -160;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw153 {
    from {
      stroke-dashoffset: -153;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw145 {
    from {
      stroke-dashoffset: -145;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw137 {
    from {
      stroke-dashoffset: -137;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw130 {
    from {
      stroke-dashoffset: -130;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw122 {
    from {
      stroke-dashoffset: -122;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw115 {
    from {
      stroke-dashoffset: -115;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw105 {
    from {
      stroke-dashoffset: -105;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw97 {
    from {
      stroke-dashoffset: -97;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw92 {
    from {
      stroke-dashoffset: -92;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw93 {
    from {
      stroke-dashoffset: -93;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw94 {
    from {
      stroke-dashoffset: -94;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw95 {
    from {
      stroke-dashoffset: -95;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw96 {
    from {
      stroke-dashoffset: -96;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw97 {
    from {
      stroke-dashoffset: -97;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw98 {
    from {
      stroke-dashoffset: -98;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw99 {
    from {
      stroke-dashoffset: -99;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw100 {
    from {
      stroke-dashoffset: -100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw101 {
    from {
      stroke-dashoffset: -101;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw102 {
    from {
      stroke-dashoffset: -102;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw103 {
    from {
      stroke-dashoffset: -103;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw104 {
    from {
      stroke-dashoffset: -104;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw105 {
    from {
      stroke-dashoffset: -105;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw106 {
    from {
      stroke-dashoffset: -106;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw107 {
    from {
      stroke-dashoffset: -107;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw108 {
    from {
      stroke-dashoffset: -108;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw109 {
    from {
      stroke-dashoffset: -109;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw110 {
    from {
      stroke-dashoffset: -110;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw111 {
    from {
      stroke-dashoffset: -111;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw112 {
    from {
      stroke-dashoffset: -112;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw113 {
    from {
      stroke-dashoffset: -113;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw114 {
    from {
      stroke-dashoffset: -114;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw115 {
    from {
      stroke-dashoffset: -115;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw116 {
    from {
      stroke-dashoffset: -116;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw117 {
    from {
      stroke-dashoffset: -117;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw118 {
    from {
      stroke-dashoffset: -118;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw119 {
    from {
      stroke-dashoffset: -119;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw120 {
    from {
      stroke-dashoffset: -120;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw121 {
    from {
      stroke-dashoffset: -121;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw122 {
    from {
      stroke-dashoffset: -122;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw123 {
    from {
      stroke-dashoffset: -123;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw124 {
    from {
      stroke-dashoffset: -124;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw125 {
    from {
      stroke-dashoffset: -125;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw126 {
    from {
      stroke-dashoffset: -126;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw127 {
    from {
      stroke-dashoffset: -127;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw128 {
    from {
      stroke-dashoffset: -128;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw129 {
    from {
      stroke-dashoffset: -129;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw130 {
    from {
      stroke-dashoffset: -130;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw131 {
    from {
      stroke-dashoffset: -131;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw132 {
    from {
      stroke-dashoffset: -132;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw133 {
    from {
      stroke-dashoffset: -133;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw134 {
    from {
      stroke-dashoffset: -134;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw135 {
    from {
      stroke-dashoffset: -135;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes rihvOgFN_draw136 {
    from {
      stroke-dashoffset: -136;
    }
    to {
      stroke-dashoffset: 0;
    }
  }