  @keyframes KXclItqq_draw148 {
    from {
      stroke-dashoffset: -148;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw138 {
    from {
      stroke-dashoffset: -138;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw132 {
    from {
      stroke-dashoffset: -132;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw126 {
    from {
      stroke-dashoffset: -126;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw121 {
    from {
      stroke-dashoffset: -121;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw115 {
    from {
      stroke-dashoffset: -115;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw109 {
    from {
      stroke-dashoffset: -109;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw104 {
    from {
      stroke-dashoffset: -104;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw98 {
    from {
      stroke-dashoffset: -98;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw93 {
    from {
      stroke-dashoffset: -93;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw113 {
    from {
      stroke-dashoffset: -113;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw112 {
    from {
      stroke-dashoffset: -112;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw111 {
    from {
      stroke-dashoffset: -111;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw110 {
    from {
      stroke-dashoffset: -110;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw108 {
    from {
      stroke-dashoffset: -108;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw107 {
    from {
      stroke-dashoffset: -107;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw106 {
    from {
      stroke-dashoffset: -106;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw105 {
    from {
      stroke-dashoffset: -105;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw104 {
    from {
      stroke-dashoffset: -104;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw103 {
    from {
      stroke-dashoffset: -103;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw102 {
    from {
      stroke-dashoffset: -102;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw101 {
    from {
      stroke-dashoffset: -101;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw100 {
    from {
      stroke-dashoffset: -100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw99 {
    from {
      stroke-dashoffset: -99;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw98 {
    from {
      stroke-dashoffset: -98;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw97 {
    from {
      stroke-dashoffset: -97;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw96 {
    from {
      stroke-dashoffset: -96;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw95 {
    from {
      stroke-dashoffset: -95;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw94 {
    from {
      stroke-dashoffset: -94;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw93 {
    from {
      stroke-dashoffset: -93;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw92 {
    from {
      stroke-dashoffset: -92;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw91 {
    from {
      stroke-dashoffset: -91;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw90 {
    from {
      stroke-dashoffset: -90;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw89 {
    from {
      stroke-dashoffset: -89;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw88 {
    from {
      stroke-dashoffset: -88;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw87 {
    from {
      stroke-dashoffset: -87;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes KXclItqq_draw86 {
    from {
      stroke-dashoffset: -86;
    }
    to {
      stroke-dashoffset: 0;
    }
  }