g {
  pointer-events: bounding-box;
}

/*==== SVG colors ====*/
.medium-blue{
  fill: $medium-blue;
}
.svg-grey{
  fill: $grey-accent;
}
.svg-green{
  fill: $success-green;
}
//strokes
.blue-stroke{fill:none;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.blue-stroke-white{fill:#fff;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}    
.green-stroke{fill:none;stroke:#1fc469;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.green-stroke-white{fill:#fff;stroke:#1fc469;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.grey-stroke-white{fill:#fff;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.medium-blue-stroke-white{fill:#fff;stroke:#3f4563;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.medium-blue-stroke{fill:none;stroke:#3f4563;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.bright-blue-stroke{fill:none;stroke:#03a9f4;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.blue-stroke{fill:none;stroke:#373e5a;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.grey-stroke{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.light-blue-stroke{fill:none;stroke:#4e7096;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.medium-blue-stroke{fill:none;stroke:#3f4563;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
.benefit-bullets{font-family:Lato;font-size:15px;color:#373e5a;}
//fills
.blue{fill:#373e5a;}
.grey{fill:#969c9c;}
.medium-blue{fill:#3f4563}
.bright-blue{fill:#03a9f4;}
.light-blue-grey{fill:#edf0f3;}
.red{fill:#c41230;}
.white{fill:#fff;}
.bright-red{fill:#ff0000;}
.white{fill:#fff;}
.medium-blue{fill:#3f4563;}
//dashes
.grey-dash1{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:2 3;}
.grey-dash2{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:2.12 3.17;}
.fly-line1{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:5.88 3.92 10.78 5.88;}
.fly-line2{fill:none;stroke:#969c9c;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:3.92 10.78 5.88 3.92 10.78 5.88;}
.bright-blue-dash{fill:none;stroke:#03a9f4;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;stroke-dasharray:2 3;}
.light-blue-grey{fill:#edf0f3;}
/*=== Icons ====*/
.icon-partner-graph{
  max-width: 100%;
  height: auto;
}

.icon-chat-set{
  width: 150px;
}
.icon-grey-chevron{
  height: 55px;
  vertical-align: middle;
}
.blue-checks{
  .icon-solid-check{
    width: 25px;
    vertical-align: middle;
    margin-right: 15px;
    fill: $blue;
  }
}
.icon-cart{
  width: 20px;
  height: 20px;
  fill: grey;
}
.icon-fishing{
  position: absolute;
  width: 180px;
  left: 410px;
}
.icon-search{
  path{
    fill: $grey-accent;
  }
  width: 20px;
}
.icon-arrow-right-white,
.icon-arrow-right,{
  width: 15px;
}
.icon-cart + span{
  top: -5px;
  right: -12px;
}
.green-icon-circle .icon,
.red-icon-circle .icon {
  width: 50px;
  height: 50px;
}
a.btn{
  .icon-arrow-right-white {
    width: 21px;
    position: relative;
    left: 21px;
    top: -3px;
  }
}
.icon-download {
  width: 55px;
}
.icon-main-shield{
  width: 412px;
  margin-top: 94px;
  margin-bottom: 137px;
  max-width: 100%;
  height: auto;
}
.icon-wasp-mad{
  width: 130px;
}
.chat-links{
  .icon-chat-dots{
    width: 23px;
    position: relative;
    top: -1px;
    left: -11px;
  }
  .icon-mail{
    left: -11px;
    width: 23px;
    top: -2px;
  }
  .icon{
    position: relative;
    vertical-align: middle;
  }
}
.icon-bubble-exclamation,
.icon-yield-sign{
  width: 93px;
}
.icon-yield-sign{
  margin-top: 201px;
}
.icon-brain-new{
  width: 721px;
  max-width: 100%;
  height: auto;
}
.icon-thief{
  display: none;
  position: absolute;
  width: 350px;
  top: -151px;
  left: 103px;
  z-index: -1;
}
.top-right-shield{
  z-index: 1;
  position: relative;
  fill: #fff;
}
.hover{
  .icon{
    position: absolute;
  }
  .icon-bug-2{
    width: 155px;
    top: -104px;
    right: -120px;
  }
  .icon-bug-3{
    width: 354px;
    top: 2px;
    right: -660px;
  }
  .icon-buck{
    width: 80px;
    left: 211px;
  }
  .icon-worm{
    width: 99px;
    right: -28px;
    bottom: -31px;
  }
  .icon-bug-mobile{
    width: 100px;
    top: 210px;
    left: 660px;
  }
  .icon-rockets-incoming{
    top: -260px;
    left: -320px;
    width: 480px;
  }
  .icon-money-cloud{
    top: -440px;
    left: -423px;
    width: 590px;
  }
  .icon-number-screen{
    top: -372px;
    width: 379px;
    left: 356px;
  }
  .icon-alarm-clock{
    top: -166px;
    width: 150px;
    right: -300px;
  }
  .icon-credit-cards-falling{
    top: -294px;
    width: 162px;
    right: -27px;
  }
  -webkit-animation: fadeIn .3s normal forwards; /* Safari 4.0 - 8.0 */
  animation: fadeIn .3s normal forwards;
  cursor: pointer;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
.icon-enhance_animated{
  cursor: pointer;
  display: none;
  position: absolute;
  width: 438px;
  left: 100px;
  top: -21px;
}
.icon-respond_animated{
  cursor: pointer;
  display: none;
  position: absolute;
  width: 486px;
  top: 340px;
  left: 50px;
}
.icon-protect_animated{
  cursor: pointer;
  display: none;
  position: absolute;
  width: 374px;
  top: -20px;
  right: 162px;
}
.icon-protect-shadow{
  cursor: pointer;
  display: none;
  width: 330px;
  position: absolute;
  bottom: 0;
  right: 90px;
}
.icon-enhance-shadow{
  cursor: pointer;
  display: none;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 130px;  
}
.icon-detect_animated{
  cursor: pointer;
  display: none;
  position: absolute;
  width: 478px;
  top: 343px;
  right: 58px;
}
/*==== Socal media icons ====*/
.social-bar{
  .icon{
    height: 35px;
  }
}
/*==== End ====*/
/*=== Malware banner bugs ===*/
#bug1{
  width: 42px;
  position: absolute;
  margin: 0 auto;
  left: -1110px;
  right: 0;
}
#bug2{
  width: 42px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: -1025px;
  transform: rotate(90deg);
}
.icon-war-room{
  position: relative;
  left: 52px;
  width: 95%;
  top: -35px;
}
.icon-comodo{
  width: 170px;
  float: right;
}
/*=== End Malware banner bugs ===*/
/*=== End Icons ====*/