//keyframes  
  .HNrHclox_34 {
      stroke-dasharray: 91 93;
      stroke-dashoffset: 92;
      animation: HNrHclox_draw92 300ms linear 0ms forwards;
  }
  .HNrHclox_35 {
      stroke-dasharray: 91 93;
      stroke-dashoffset: 92;
      animation: HNrHclox_draw92 300ms linear 0ms forwards;
  }
  .HNrHclox_36 {
      stroke-dasharray: 91 93;
      stroke-dashoffset: 92;
      animation: HNrHclox_draw92 300ms linear 0ms forwards;
  }
  .HNrHclox_37 {
      stroke-dasharray: 91 93;
      stroke-dashoffset: 92;
      animation: HNrHclox_draw92 300ms linear 0ms forwards;
  }
  .HNrHclox_38 {
      stroke-dasharray: 92 94;
      stroke-dashoffset: 93;
      animation: HNrHclox_draw93 300ms linear 0ms forwards;
  }
  .HNrHclox_39 {
      stroke-dasharray: 92 94;
      stroke-dashoffset: 93;
      animation: HNrHclox_draw93 300ms linear 0ms forwards;
  }
  .HNrHclox_40 {
      stroke-dasharray: 92 94;
      stroke-dashoffset: 93;
      animation: HNrHclox_draw93 300ms linear 0ms forwards;
  }
  .HNrHclox_41 {
      stroke-dasharray: 93 95;
      stroke-dashoffset: 94;
      animation: HNrHclox_draw94 300ms linear 0ms forwards;
  }
  .HNrHclox_42 {
      stroke-dasharray: 93 95;
      stroke-dashoffset: 94;
      animation: HNrHclox_draw94 300ms linear 0ms forwards;
  }
  .HNrHclox_43 {
      stroke-dasharray: 94 96;
      stroke-dashoffset: 95;
      animation: HNrHclox_draw95 300ms linear 0ms forwards;
  }
  .HNrHclox_44 {
      stroke-dasharray: 94 96;
      stroke-dashoffset: 95;
      animation: HNrHclox_draw95 300ms linear 0ms forwards;
  }
  .HNrHclox_45 {
      stroke-dasharray: 95 97;
      stroke-dashoffset: 96;
      animation: HNrHclox_draw95 300ms linear 0ms forwards;
  }
  .HNrHclox_46 {
      stroke-dasharray: 96 98;
      stroke-dashoffset: 97;
      animation: HNrHclox_draw97 300ms linear 0ms forwards;
  }
  .HNrHclox_47 {
      stroke-dasharray: 96 98;
      stroke-dashoffset: 97;
      animation: HNrHclox_draw97 300ms linear 0ms forwards;
  }
  .HNrHclox_48 {
      stroke-dasharray: 97 99;
      stroke-dashoffset: 98;
      animation: HNrHclox_draw98 300ms linear 0ms forwards;
  }
  .HNrHclox_49 {
      stroke-dasharray: 98 100;
      stroke-dashoffset: 99;
      animation: HNrHclox_draw99 300ms linear 0ms forwards;
  }
  .HNrHclox_50 {
      stroke-dasharray: 98 100;
      stroke-dashoffset: 99;
      animation: HNrHclox_draw99 300ms linear 0ms forwards;
  }
  .HNrHclox_51 {
      stroke-dasharray: 99 101;
      stroke-dashoffset: 100;
      animation: HNrHclox_draw100 300ms linear 0ms forwards;
  }
  .HNrHclox_52 {
      stroke-dasharray: 100 102;
      stroke-dashoffset: 101;
      animation: HNrHclox_draw101 300ms linear 0ms forwards;
  }
  .HNrHclox_53 {
      stroke-dasharray: 101 103;
      stroke-dashoffset: 102;
      animation: HNrHclox_draw102 300ms linear 0ms forwards;
  }
  .HNrHclox_54 {
      stroke-dasharray: 102 104;
      stroke-dashoffset: 103;
      animation: HNrHclox_draw103 300ms linear 0ms forwards;
  }
  .HNrHclox_55 {
      stroke-dasharray: 102 104;
      stroke-dashoffset: 103;
      animation: HNrHclox_draw103 300ms linear 0ms forwards;
  }
  .HNrHclox_56 {
      stroke-dasharray: 103 105;
      stroke-dashoffset: 104;
      animation: HNrHclox_draw104 300ms linear 0ms forwards;
  }
  .HNrHclox_57 {
      stroke-dasharray: 104 106;
      stroke-dashoffset: 105;
      animation: HNrHclox_draw105 300ms linear 0ms forwards;
  }
  .HNrHclox_58 {
      stroke-dasharray: 105 107;
      stroke-dashoffset: 106;
      animation: HNrHclox_draw106 300ms linear 0ms forwards;
  }
  .HNrHclox_59 {
      stroke-dasharray: 106 108;
      stroke-dashoffset: 107;
      animation: HNrHclox_draw107 300ms linear 0ms forwards;
  }
  .HNrHclox_60 {
      stroke-dasharray: 107 109;
      stroke-dashoffset: 108;
      animation: HNrHclox_draw108 300ms linear 0ms forwards;
  }
  .HNrHclox_61 {
      stroke-dasharray: 108 110;
      stroke-dashoffset: 109;
      animation: HNrHclox_draw109 300ms linear 0ms forwards;
  }
  .HNrHclox_62 {
      stroke-dasharray: 109 111;
      stroke-dashoffset: 110;
      animation: HNrHclox_draw110 300ms linear 0ms forwards;
  }
  .HNrHclox_63 {
      stroke-dasharray: 110 112;
      stroke-dashoffset: 111;
      animation: HNrHclox_draw111 300ms linear 0ms forwards;
  }
  .HNrHclox_64 {
      stroke-dasharray: 111 113;
      stroke-dashoffset: 112;
      animation: HNrHclox_draw112 300ms linear 0ms forwards;
  }
  .HNrHclox_65 {
      stroke-dasharray: 112 114;
      stroke-dashoffset: 113;
      animation: HNrHclox_draw113 300ms linear 0ms forwards;
  }
  .HNrHclox_66 {
      stroke-dasharray: 114 116;
      stroke-dashoffset: 115;
      animation: HNrHclox_draw115 300ms linear 0ms forwards;
  }
  .HNrHclox_67 {
      stroke-dasharray: 115 117;
      stroke-dashoffset: 116;
      animation: HNrHclox_draw116 300ms linear 0ms forwards;
  }
  .HNrHclox_68 {
      stroke-dasharray: 116 118;
      stroke-dashoffset: 117;
      animation: HNrHclox_draw117 300ms linear 0ms forwards;
  }
  .HNrHclox_69 {
      stroke-dasharray: 117 119;
      stroke-dashoffset: 118;
      animation: HNrHclox_draw118 300ms linear 0ms forwards;
  }
  .HNrHclox_70 {
      stroke-dasharray: 118 120;
      stroke-dashoffset: 119;
      animation: HNrHclox_draw119 300ms linear 0ms forwards;
  }
  .HNrHclox_71 {
      stroke-dasharray: 119 121;
      stroke-dashoffset: 120;
      animation: HNrHclox_draw120 300ms linear 0ms forwards;
  }
  .HNrHclox_72 {
      stroke-dasharray: 121 123;
      stroke-dashoffset: 122;
      animation: HNrHclox_draw122 300ms linear 0ms forwards;
  }
  .HNrHclox_73 {
      stroke-dasharray: 122 124;
      stroke-dashoffset: 123;
      animation: HNrHclox_draw123 300ms linear 0ms forwards;
  }
  .HNrHclox_74 {
      stroke-dasharray: 123 125;
      stroke-dashoffset: 124;
      animation: HNrHclox_draw124 300ms linear 0ms forwards;
  }
  .HNrHclox_75 {
      stroke-dasharray: 124 126;
      stroke-dashoffset: 125;
      animation: HNrHclox_draw125 300ms linear 0ms forwards;
  }
  .HNrHclox_76 {
      stroke-dasharray: 126 128;
      stroke-dashoffset: 127;
      animation: HNrHclox_draw127 300ms linear 0ms forwards;
  }
  .HNrHclox_77 {
      stroke-dasharray: 127 129;
      stroke-dashoffset: 128;
      animation: HNrHclox_draw128 300ms linear 0ms forwards;
  }
  .HNrHclox_78 {
      stroke-dasharray: 128 130;
      stroke-dashoffset: 129;
      animation: HNrHclox_draw129 300ms linear 0ms forwards;
  }
  .HNrHclox_79 {
      stroke-dasharray: 130 132;
      stroke-dashoffset: 131;
      animation: HNrHclox_draw131 300ms linear 0ms forwards;
  }
  .HNrHclox_80 {
      stroke-dasharray: 131 133;
      stroke-dashoffset: 132;
      animation: HNrHclox_draw132 300ms linear 0ms forwards;
  }
  .HNrHclox_81 {
      stroke-dasharray: 132 134;
      stroke-dashoffset: 133;
      animation: HNrHclox_draw133 300ms linear 0ms forwards;
  }
  .HNrHclox_82 {
      stroke-dasharray: 134 136;
      stroke-dashoffset: 135;
      animation: HNrHclox_draw135 300ms linear 0ms forwards;
  }
  .HNrHclox_83 {
      stroke-dasharray: 135 137;
      stroke-dashoffset: 136;
      animation: HNrHclox_draw136 300ms linear 0ms forwards;
  }
  .HNrHclox_84 {
      stroke-dasharray: 159 161;
      stroke-dashoffset: 160;
      animation: HNrHclox_draw160 300ms linear 0ms forwards;
  }
  .HNrHclox_85 {
      stroke-dasharray: 152 154;
      stroke-dashoffset: 153;
      animation: HNrHclox_draw153 300ms linear 0ms forwards;
  }
  .HNrHclox_86 {
      stroke-dasharray: 144 146;
      stroke-dashoffset: 145;
      animation: HNrHclox_draw145 300ms linear 0ms forwards;
  }
  .HNrHclox_87 {
      stroke-dasharray: 136 138;
      stroke-dashoffset: 137;
      animation: HNrHclox_draw137 300ms linear 0ms forwards;
  }
  .HNrHclox_88 {
      stroke-dasharray: 129 131;
      stroke-dashoffset: 130;
      animation: HNrHclox_draw130 300ms linear 0ms forwards;
  }
  .HNrHclox_89 {
      stroke-dasharray: 121 123;
      stroke-dashoffset: 122;
      animation: HNrHclox_draw122 300ms linear 0ms forwards;
  }
  .HNrHclox_90 {
      stroke-dasharray: 114 116;
      stroke-dashoffset: 115;
      animation: HNrHclox_draw115 300ms linear 0ms forwards;
  }
  .HNrHclox_91 {
      stroke-dasharray: 104 106;
      stroke-dashoffset: 105;
      animation: HNrHclox_draw105 300ms linear 0ms forwards;
  }
  .HNrHclox_92 {
      stroke-dasharray: 96 98;
      stroke-dashoffset: 97;
      animation: HNrHclox_draw97 300ms linear 0ms forwards;
  }
  .HNrHclox_93 {
      stroke-dasharray: 91 93;
      stroke-dashoffset: 92;
      animation: HNrHclox_draw92 300ms linear 0ms forwards;
  }

  @keyframes HNrHclox_draw92 {
    from {
      stroke-dashoffset: -92;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw93 {
    from {
      stroke-dashoffset: -93;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw94 {
    from {
      stroke-dashoffset: -94;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw95 {
    from {
      stroke-dashoffset: -95;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw96 {
    from {
      stroke-dashoffset: -96;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw97 {
    from {
      stroke-dashoffset: -97;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw98 {
    from {
      stroke-dashoffset: -98;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw99 {
    from {
      stroke-dashoffset: -99;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw100 {
    from {
      stroke-dashoffset: -100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw101 {
    from {
      stroke-dashoffset: -101;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw102 {
    from {
      stroke-dashoffset: -102;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw103 {
    from {
      stroke-dashoffset: -103;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw104 {
    from {
      stroke-dashoffset: -104;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw105 {
    from {
      stroke-dashoffset: -105;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw106 {
    from {
      stroke-dashoffset: -106;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw107 {
    from {
      stroke-dashoffset: -107;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw108 {
    from {
      stroke-dashoffset: -108;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw109 {
    from {
      stroke-dashoffset: -109;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw110 {
    from {
      stroke-dashoffset: -110;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw111 {
    from {
      stroke-dashoffset: -111;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw112 {
    from {
      stroke-dashoffset: -112;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw113 {
    from {
      stroke-dashoffset: -113;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw114 {
    from {
      stroke-dashoffset: -114;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw115 {
    from {
      stroke-dashoffset: -115;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw116 {
    from {
      stroke-dashoffset: -116;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw117 {
    from {
      stroke-dashoffset: -117;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw118 {
    from {
      stroke-dashoffset: -118;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw119 {
    from {
      stroke-dashoffset: -119;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw120 {
    from {
      stroke-dashoffset: -120;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw121 {
    from {
      stroke-dashoffset: -121;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw122 {
    from {
      stroke-dashoffset: -122;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw123 {
    from {
      stroke-dashoffset: -123;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw124 {
    from {
      stroke-dashoffset: -124;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw125 {
    from {
      stroke-dashoffset: -125;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw126 {
    from {
      stroke-dashoffset: -126;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw127 {
    from {
      stroke-dashoffset: -127;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw128 {
    from {
      stroke-dashoffset: -128;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw129 {
    from {
      stroke-dashoffset: -129;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw130 {
    from {
      stroke-dashoffset: -130;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw131 {
    from {
      stroke-dashoffset: -131;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw132 {
    from {
      stroke-dashoffset: -132;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw133 {
    from {
      stroke-dashoffset: -133;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw134 {
    from {
      stroke-dashoffset: -134;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw135 {
    from {
      stroke-dashoffset: -135;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw136 {
    from {
      stroke-dashoffset: -136;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw137 {
    from {
      stroke-dashoffset: -137;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw160 {
    from {
      stroke-dashoffset: -160;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw153 {
    from {
      stroke-dashoffset: -153;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_draw145 {
    from {
      stroke-dashoffset: -145;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes HNrHclox_fade {
      
    0% {
      stroke-opacity: 1;
  }

    94.44444444444444% {
      stroke-opacity: 1;
  }

    100% {
      stroke-opacity: 0;
  }
  @keyframes HNrHclox_draw{
    100%{stroke-dashoffset:0;}
  }
}