@media screen and (min-width: 2500px){
  .malware-removal{
    .icon-bug-trail {
      width: 450px;
      position: absolute;
      right: 22%;
      z-index: 1;
      top: 16%;
    }
    .icon-sm-worm {
      bottom: 23%;
      right: 27.2%;
      width: 60px;
      position: absolute;
    }
    .icon-worm {
      bottom: 19%;
      right: 29%;
      width: 60px;
      position: absolute;
      transform: scale(-1, 1);
    }
    .icon-clear-crap {
      position: absolute;
      bottom: 15%;
      left: 27%;
      width: 150px;
    }
    .icon-fly-bugs {
      width: 430px;
      position: absolute;
      z-index: 1;
      left: -23px;
      top: 31%;
    }
  }
  .malware-bug {
    .icon-worm {
      width: 130px;
      position: absolute;
      z-index: 1;
      left: 21rem;
      bottom: -118px;
    }
  }
}
@media screen and (max-width: 1600px){
  .malware-bug{
    .icon-worm {
      width: 130px;
      position: absolute;
      z-index: 1;
      left: 7rem;
      bottom: -109px;
    }
    .icon-bug-trail {
      right: 30px;
    }
  }
}
@media screen and (max-width: 1199px){}
@media screen and (max-width: 990px){
  div[class^='w-']{
    width: 100% !important;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .flipster__item{
    .HeaderB-Level2{
      font-size: 15px;
    }
  }
  .text-center-992{
    text-align: center;
  }
  .form-control{
    background-color: #fff;
    border-color: $darkish-blue;
  }
  .green-check-before:before{
    height: 40px;
    width: 40px;
    left: -37px;
  }
  .icon-fly-bugs{
    display: block !important;
  }
  .icon-green-circle-arrow-right,
  .icon-green-circle-arrow-left{
    display: none;
  }
  .malware-remove-box{
    padding: 22px 90px !important;
  }
  .hero_cta--variant{
    .col{
      min-height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    background: $green;
  }
  
  #security-mobile-slider{
    .icon-bug-3 {
      top: -370px;
      left: 400px;
    }
    .icon-worm {
      top: 215px;
    }
  }
  .hacked{
    .hack-img:before {
    top: -237px;
    left: 0;
    }
  }
  .site-logo{
    left: 0;
  }
  #about-us .counting-numbers{
    top: 0;
  }
  .w-75{
    width: 100% !important;
    text-align: center;
  }
  .world-wide {
    background: url(icon-world-wide-mobile1.svg) center center no-repeat;
    height: 620px;
    background-size: contain;
  }
  .fade-white{
    top: 0;
    background: none;
  }
  .dangerous-web{
    .icon-city-pie {
      float: none;
      position: static;
    }
    .icon-city-pie ~ p {
      margin-top: 0;
      position: static;
    }
  }
  .malware-removal > .container{
    >.row{
      .col-lg-12{
        &:before, &:after{
          content: none;
        }
      }
      &:before, &:after{
        content: none;
      }
    }
    &:before, &:after{
      content: none;
    }
  }
  .icon-yield-sign {
    margin-top: 0;
  }
  .breadcrumbs {
    left: 0;
    top: 0;
  }
  .mobile-navbar{
    top: 0;
    background: #fff;
    padding: 0;
    margin: 0;
  }
  .hero_cta.green-gradients .col {
    left: 0;
    top: 0;
  }
  .icon-bombs:after{
    content: "";
    background: none;
  }
  .mainNav{
    padding: 15px;
  }
  .hero__cta--1,
  .hero__cta--2,
  .hero__cta--3,
  .hero__cta--4{
    left: 0;
    width: inherit;
  }
  .hero__cta--3{
    span:nth-child(1) {
    top: 45px;
    left: -17px;
    }
  }
  .green-gradients{
    &:before,
    &:after{
      content: none;
    }
    .container{
      transform: skewY(0deg);
    }
    transform: skewY(0deg);
  }
  .malware-bug{
    .icon-worm{
      bottom: -25px;
      width: 80px;
    }
  }
  .hacked {
    background-position: 44% 84%;
    background-size: 385px;
  }
  .war-room,
  .war-floor,
  .tab-security-info,
  .reporting,
  .security-hide-mobile,
  .protect,
  .icon-bug-trail,
  .footer,
  .malware-banner,
  .csoc-hero-text,
  .hide-mobile-992,
  .icon-clear-crap,
  .icon-worm,
  .icon-sm-worm{
    display: none !important;
  }
  .security-show-mobile,
  .reporting-mobile,
  .protect-mobile,
  .footer-mobile,
  .malware-banner-mobile,
  .mobile-csoc-hero-text,
  .security-partners-mobile,
  .inner-page-mobile-tabs,
  .show-mobile-992{ 
    display: block !important;
  }
  .malware-bug{
    .icon-bug-mobile{
      display: block;
    }
  }
  .siem-svg {
    height: 375px;
  }
}
@media screen and (max-width: 767px){
  .blue-icons{
    .icon{
      height: 130px;
    }
  }
  .hide-mobile-768{
    display: none !important;
  }
  .show-mobile-768{
    display: block;
  }
  .siem-svg {
    height: 285px;
    background-size: cover;
  }
  .malware-remove-box {
    padding: 22px 60px !important;
  }
  
  #security-mobile-slider{
    .icon-bug-3 {
      top: -288px;
      left: 310px;
    }
    .icon-worm {
      top: 240px;
    }
    .icon-rockets-incoming {
      top: -420px;
      width: 360px;
      right: -130px;
    }
    .icon-money-cloud{
      top: -370px;
      left: 0px;
    }
    .icon-number-screen{
      top: -293px;
      left: 84px;
      width: 337px;
    }
    .icon-alarm-clock{
      top: -107px;
      right: 80px;
      width: 120px;
    }
    .icon-credit-cards-falling{
      top: -187px;
      left: 104px;
      width: 110px;
    }
  }
  .comodo-cta .large-c {
    left: 0;
    top: 0;
  }
  .dropdown-item{
    white-space: normal;
  }
  
  .malware-banner-mobile{
    background-size: cover;
  }
  .site-logo{
    img {
      width: 200px;
    }
  }
  .red-icon-circle{
    position: relative;
    z-index: 0;
  }
  .btn{
    white-space: inherit;
  }
  .hacked{
    .hack-img:before {
    left: -80px;
    }
  }
  .mobile-protect{ 
    .slide-content {
      min-height: 600px;
    }
  }
  .mobile.war-room{
    display: block;
  }
  
  .dangerous-web .icon-city-pie{
    float: none;
    width: 336px;
    height: 350px;
  }
  .dangerous-web .icon-city-pie ~ p{
    text-align: center;
  }
  .fade-white{
    background: none;
  }
}
@media screen and (max-width: 575px){
  .hide-mobile-575{
    display: none;
  }
  .show-mobile-575{
    display: block;
  }
  .blue-icons{
    text-align: center;
  }
  .comodo-bld {
    background-position: -797px 0;
  }
  .world-wide {
    height: 230px;
  }
  .hacked {
    background-position: -87px 113rem;
    background-size: 430px;
  }
  .word-lines {
    .col-1:nth-child(3) {
      top: -11px;
      right: 0;
    }
  }
  #mobile-security-tabs{
    .HeaderA-Level2{
      font-size: rem(33);
    }
  }
  .mobile-protect{ 
    .slide-content {
      min-height: 925px;
    }
  }
  .malware-bug{
    .icon-worm {
      bottom: -17px;
      left: 1rem;
      width: 50px;
    }
  }
  .hero__cta--4 a .btn-text{
    padding: 12px 47px;
  }
  .counting-numbers{
    .fs63{
      font-size: rem(43);
    }
  }
  .price-box{
    .icon{
      width: 50px;
    }
  }
  .red-transform{
    &:before {
      top: -625px;
      border-left: 402px solid transparent;
      border-bottom: 1020px solid #c41230;
      transform: rotate(101deg);
      z-index: -1;
    }
    &:after {
      top: -350px;
      border-left: 446px solid transparent;
      border-bottom: 490px solid red;
      transform: rotate(85deg);
      z-index: -2;
      left: 13px;
    }
  }
}
@media screen and (max-width: 450px){
  .icon-arrow-right-white{
    display: none;
  }
  .how-works .green-circle:after{
    left: 58%;
  }
  #security-mobile-slider{
    .icon-worm {
      top: 266px;
    }
    .icon-money-cloud{
      top: -280px;
      width: 400px;
      left: 10px;
    }
    .icon-rockets-incoming {
      top: -330px;
      width: 310px;
      right: -80px;
    }    
    .icon-bug-3 {
      top: -238px;
      left: 200px;
    }
    .icon-number-screen{
      top: -240px;
      left: 74px;
      width: 267px;
    }
    .icon-alarm-clock{
      top: -96px;
      right: 50px;
      width: 100px;
    }
     .icon-credit-cards-falling{
      top: -147px;
      left: 94px;
      width: 80px;
    }
  }
  .hacked{
    .hack-img:before {
      top: -237px;
      left: -160px;
    }
  }
}
@media screen and (max-width: 378px){
  #security-mobile-slider{
    .icon-worm {
      top: 292px;
    }
    .icon-bug-3 {
      top: -238px;
      left: 200px;
    }
    #security-mobile-slider .icon-rockets-incoming {
      top: -300px;
      width: 250px;
      right: -140px;
    }
    .icon-money-cloud{
      top: -230px;
      width: 300px;
      left: 10px;
    }
    .icon-bug-mobile {
      left: 110px;
    }
    .icon-number-screen{
      top: -200px;
      left: 64px;
      width: 217px;
    }
    .icon-credit-cards-falling {
      top: -136px;
      left: 60px;
      width: 80px;
    }
    .icon-alarm-clock {
    right: 49px;
    }
  }
  .how-works .green-circle:after {
    left: 64%;
  }
  .hacked{
    .hack-img:before {
      top: -237px;
      left: -90px;
    }
  }
}
/*==== End ====*/