<svg xmlns="http://www.w3.org/2000/svg" width="259.19" height="75.48" viewBox="0 0 259.19 75.48">
  <title>cwatch-logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Home_-_1200" data-name="Home - 1200">
      <g id="Footer">
        <g id="Logo">
          <g>
            <g>
              <path d="M32.32,15h0Z" style="fill: #1fc469"/>
              <path d="M31.69,14.94l-.15,0Z" style="fill: #1fc469"/>
              <path d="M32.61,14.92l-.17,0Z" style="fill: #1fc469"/>
              <path d="M32,15h0Z" style="fill: #1fc469"/>
              <path d="M31.35,14.88l-.11,0Z" style="fill: #1fc469"/>
              <path d="M34.46,13.88l-.14.16Z" style="fill: #1fc469"/>
              <path d="M33.44,14.66l-.11.05Z" style="fill: #1fc469"/>
              <path d="M34,14.34l-.11.08Z" style="fill: #1fc469"/>
              <path d="M34.22,14.13l-.13.12Z" style="fill: #1fc469"/>
              <path d="M32.89,14.86l-.15,0Z" style="fill: #1fc469"/>
              <path d="M33.17,14.78l-.13,0Z" style="fill: #1fc469"/>
              <path d="M33.7,14.52l-.11.06Z" style="fill: #1fc469"/>
              <path d="M61.29,18.64A16.51,16.51,0,0,0,50.85,1.08,17.07,17.07,0,0,0,31,7.3a20.72,20.72,0,0,1,3.11,2.11A3.13,3.13,0,0,1,35,13v0a10.79,10.79,0,0,1,13.59-6A10.22,10.22,0,0,1,54.53,20a3.14,3.14,0,0,0,2.88,4.37,7.88,7.88,0,0,1,1.74,15.57L53.12,29a3.13,3.13,0,0,0-5.42-.11L42.77,37l-3.9-7.07a3.13,3.13,0,1,0-5.49,3l6.51,11.81a3.13,3.13,0,0,0,2.68,1.62h.07a3.13,3.13,0,0,0,2.68-1.51l4.93-8.11,4.42,8a3.13,3.13,0,0,0,2.74,1.62,14.15,14.15,0,0,0,3.88-27.76Z" style="fill: #1fc469"/>
              <path d="M34.79,13.41l-.08.14Z" style="fill: #1fc469"/>
              <path d="M30.5,14.54l-.12-.07Z" style="fill: #1fc469"/>
              <path d="M30.28,14.39l-.16-.12Z" style="fill: #1fc469"/>
              <path d="M34.65,13.64l-.13.17Z" style="fill: #1fc469"/>
              <path d="M31,14.76l.05,0-.06,0Z" style="fill: #1fc469"/>
              <path d="M30.73,14.66l-.07,0Z" style="fill: #1fc469"/>
              <path d="M34.92,13.17l0,.1Z" style="fill: #1fc469"/>
              <path d="M35,13l-.09.19Z" style="fill: #1fc469"/>
              <path d="M33.85,14.42l-.15.09Z" style="fill: #1fc469"/>
              <path d="M34.87,13.27l-.08.14Z" style="fill: #1fc469"/>
              <path d="M34.09,14.24l-.12.1Z" style="fill: #1fc469"/>
              <path d="M34.71,13.55l-.06.09Z" style="fill: #1fc469"/>
              <path d="M34.31,14l-.09.09Z" style="fill: #1fc469"/>
              <path d="M34.51,13.82v0l-.06.07Z" style="fill: #1fc469"/>
              <path d="M32.13,15h0Z" style="fill: #1fc469"/>
              <path d="M31.54,14.92l-.19,0Z" style="fill: #1fc469"/>
              <path d="M30.66,14.63l-.16-.09Z" style="fill: #1fc469"/>
              <path d="M31.25,14.86,31,14.78Z" style="fill: #1fc469"/>
              <path d="M31,14.76l-.22-.1Z" style="fill: #1fc469"/>
              <path d="M29.16,10.71A16.1,16.1,0,0,1,31,7.3,20.85,20.85,0,1,0,20.86,46.4H31.71a3.13,3.13,0,1,0,0-6.27H20.86A14.59,14.59,0,1,1,30.1,14.26h0A3.13,3.13,0,0,1,29.16,10.71Z" style="fill: #1fc469"/>
              <path d="M30.38,14.46l-.1-.07Z" style="fill: #1fc469"/>
              <path d="M32.43,15h0Z" style="fill: #1fc469"/>
              <path d="M33,14.82l-.14,0Z" style="fill: #1fc469"/>
              <path d="M33.32,14.72l-.16.06Z" style="fill: #1fc469"/>
              <path d="M31.83,15l-.15,0Z" style="fill: #1fc469"/>
              <path d="M32.74,14.9l-.13,0Z" style="fill: #1fc469"/>
              <path d="M33.6,14.58l-.16.08Z" style="fill: #1fc469"/>
              <path d="M34.07,9.41A20.72,20.72,0,0,0,31,7.3a16.1,16.1,0,0,0-1.8,3.41,3.13,3.13,0,0,0,1,3.56l.16.12.1.07.12.07.16.09.07,0,.22.1.06,0,.23.08.11,0,.19,0,.15,0,.15,0h.6l.17,0,.13,0,.15,0,.14,0,.13,0,.16-.06.11-.05.16-.08.11-.06.15-.09.11-.08.12-.1.13-.12.09-.09.14-.16.06-.07.13-.17.06-.09.08-.14.08-.14,0-.1L35,13A3.13,3.13,0,0,0,34.07,9.41Z" style="fill: #1fc469"/>
              <path d="M34.07,9.41A20.72,20.72,0,0,0,31,7.3a16.1,16.1,0,0,0-1.8,3.41,3.13,3.13,0,0,0,1,3.56l.16.12.1.07.12.07.16.09.07,0,.22.1.06,0,.23.08.11,0,.19,0,.15,0,.15,0h.6l.17,0,.13,0,.15,0,.14,0,.13,0,.16-.06.11-.05.16-.08.11-.06.15-.09.11-.08.12-.1.13-.12.09-.09.14-.16.06-.07.13-.17.06-.09.08-.14.08-.14,0-.1L35,13A3.13,3.13,0,0,0,34.07,9.41Z" style="fill: #1fc469"/>
            </g>
            <g>
              <path d="M101.23,37.44l3.84.5a10,10,0,0,1-3.22,6.22,9.39,9.39,0,0,1-6.37,2.25,9.89,9.89,0,0,1-7.61-3.09Q85,40.22,85,34.44a16.05,16.05,0,0,1,1.24-6.53A8.63,8.63,0,0,1,90,23.71a11.18,11.18,0,0,1,5.5-1.4,9.57,9.57,0,0,1,6.14,1.9,8.71,8.71,0,0,1,3.06,5.39l-3.8.59A6.31,6.31,0,0,0,99,26.7a5,5,0,0,0-3.33-1.17,6.06,6.06,0,0,0-4.8,2.11Q89,29.76,89,34.34t1.78,6.75a5.79,5.79,0,0,0,4.64,2.1,5.47,5.47,0,0,0,3.84-1.41A7,7,0,0,0,101.23,37.44Z" style="fill: #373e5a"/>
              <path d="M114.47,45.88,106,14.07h4.32l4.84,20.85q.78,3.28,1.34,6.51,1.21-5.1,1.43-5.88L124,14.07h5.08l4.56,16.1a85.23,85.23,0,0,1,2.47,11.26q.61-3,1.58-6.92l5-20.44h4.23L138.2,45.88h-4.06l-6.7-24.24q-.85-3-1-3.73-.5,2.19-.93,3.73l-6.75,24.24Z" style="fill: #373e5a"/>
              <path d="M163.74,43a14.54,14.54,0,0,1-4.18,2.6,12.07,12.07,0,0,1-4.31.76,8.38,8.38,0,0,1-5.84-1.86,6.13,6.13,0,0,1-2-4.74,6.42,6.42,0,0,1,2.79-5.34A9.51,9.51,0,0,1,153,33.19a28.09,28.09,0,0,1,3.47-.59,35.69,35.69,0,0,0,7-1.35q0-.8,0-1a4.31,4.31,0,0,0-1.11-3.36,6.54,6.54,0,0,0-4.45-1.32,6.91,6.91,0,0,0-4.07,1,5.91,5.91,0,0,0-1.94,3.42l-3.82-.52a9.47,9.47,0,0,1,1.71-4,7.53,7.53,0,0,1,3.45-2.32,15.4,15.4,0,0,1,5.23-.81,13.85,13.85,0,0,1,4.8.69A6.34,6.34,0,0,1,166,24.76a6.14,6.14,0,0,1,1.21,2.66,22,22,0,0,1,.2,3.6v5.21a55.19,55.19,0,0,0,.25,6.89,8.68,8.68,0,0,0,1,2.77h-4.08A8.29,8.29,0,0,1,163.74,43Zm-.33-8.72A28.68,28.68,0,0,1,157,35.79a14.79,14.79,0,0,0-3.41.78,3.4,3.4,0,0,0-1.54,1.27,3.45,3.45,0,0,0,.64,4.46,5.1,5.1,0,0,0,3.46,1,8.06,8.06,0,0,0,4-1,6.08,6.08,0,0,0,2.58-2.7,9.43,9.43,0,0,0,.63-3.91Z" style="fill: #373e5a"/>
              <path d="M181.95,42.39l.56,3.45a14.44,14.44,0,0,1-3,.35,6.69,6.69,0,0,1-3.3-.67,3.77,3.77,0,0,1-1.65-1.77,14,14,0,0,1-.48-4.61V25.87h-2.86v-3h2.86V17.13L178,14.79v8.05h3.93v3H178V39.35a6.78,6.78,0,0,0,.21,2.15,1.62,1.62,0,0,0,.67.76,2.59,2.59,0,0,0,1.33.28A12.81,12.81,0,0,0,181.95,42.39Z" style="fill: #373e5a"/>
              <path d="M200.8,37.44l3.84.5a10,10,0,0,1-3.22,6.22,9.39,9.39,0,0,1-6.37,2.25,9.89,9.89,0,0,1-7.61-3.09q-2.88-3.09-2.87-8.86a16.05,16.05,0,0,1,1.24-6.53,8.63,8.63,0,0,1,3.76-4.2,11.18,11.18,0,0,1,5.5-1.4,9.57,9.57,0,0,1,6.14,1.9,8.71,8.71,0,0,1,3.06,5.39l-3.8.59a6.31,6.31,0,0,0-1.92-3.49,5,5,0,0,0-3.33-1.17,6.06,6.06,0,0,0-4.8,2.11q-1.84,2.12-1.84,6.69t1.78,6.75a5.79,5.79,0,0,0,4.64,2.1,5.47,5.47,0,0,0,3.84-1.41A7,7,0,0,0,200.8,37.44Z" style="fill: #373e5a"/>
              <path d="M208,45.88V14.07h3.91V25.48a8.72,8.72,0,0,1,6.9-3.17,9.3,9.3,0,0,1,4.45,1,5.93,5.93,0,0,1,2.7,2.79,12.85,12.85,0,0,1,.81,5.16v14.6h-3.9V31.28A6,6,0,0,0,221.58,27,4.72,4.72,0,0,0,218,25.68a6.33,6.33,0,0,0-3.27.9A5.09,5.09,0,0,0,212.54,29a11.22,11.22,0,0,0-.65,4.25V45.88Z" style="fill: #373e5a"/>
            </g>
          </g>
          <g>
            <g>
              <path d="M238.54,61.34h-4.91v.34c0,.73.27,1.65,1.5,1.65h3.29c1.92,0,2.94.63,2.65,2.77l-.23,1.71c-.29,2.22-1.87,2.54-3.27,2.54H235.7l.52-4.26a1.38,1.38,0,0,0-1.4-1.62h-1.61L232.78,68l-.41,3.08c-.11.83.49,1.29,1.79,1.29h3.78c3.84,0,4.88-1.39,5.41-2.26a5.35,5.35,0,0,0,.61-1.81c0-.14.29-2.33.29-2.33a3.75,3.75,0,0,0-.76-3.09C242.6,61.86,241,61.34,238.54,61.34Z" style="fill: #c41230"/>
              <path d="M194,61.09h-.54c-3.86,0-5.88,1.65-6.31,4.72l-.26,2a3.82,3.82,0,0,0,.75,3.15A5.82,5.82,0,0,0,192,72.57h.54c3.78,0,5.79-1.6,6.27-4.46l0-.21.26-2a4,4,0,0,0-.76-3.26A5.77,5.77,0,0,0,194,61.09Zm2,4.81-.24,1.82a3.91,3.91,0,0,1-.67,1.89,2.69,2.69,0,0,1-2.23,1h-.6a2.2,2.2,0,0,1-2.06-.93,3.36,3.36,0,0,1-.16-1.86l.24-1.82a3.58,3.58,0,0,1,1-2.19,2.85,2.85,0,0,1,2.06-.72h.56a2.18,2.18,0,0,1,1.8.67A2.87,2.87,0,0,1,196,65.9Z" style="fill: #c41230"/>
              <path d="M258.37,62.66A5.77,5.77,0,0,0,254,61.09h-.55c-3.86,0-5.88,1.65-6.31,4.72l-.26,2a3.83,3.83,0,0,0,.75,3.15A5.81,5.81,0,0,0,252,72.57h.54c3.78,0,5.8-1.6,6.27-4.46l0-.21.25-2A4,4,0,0,0,258.37,62.66ZM256,65.9l-.24,1.82a3.91,3.91,0,0,1-.67,1.89,2.69,2.69,0,0,1-2.23,1h-.6a2.2,2.2,0,0,1-2.06-.93,3.36,3.36,0,0,1-.16-1.86l.24-1.82a3.57,3.57,0,0,1,.95-2.19,2.85,2.85,0,0,1,2.06-.72h.56a2.19,2.19,0,0,1,1.8.67A2.87,2.87,0,0,1,256,65.9Z" style="fill: #c41230"/>
              <path d="M225.07,61.09h-.54c-3.86,0-5.88,1.65-6.31,4.72l-.26,2a3.83,3.83,0,0,0,.75,3.15,5.81,5.81,0,0,0,4.44,1.61h.54c3.78,0,5.79-1.6,6.27-4.46l0-.21.25-2a4,4,0,0,0-.76-3.26A5.77,5.77,0,0,0,225.07,61.09Zm2,4.81-.24,1.82a3.91,3.91,0,0,1-.67,1.89,2.69,2.69,0,0,1-2.23,1h-.6a2.2,2.2,0,0,1-2.05-.93,3.33,3.33,0,0,1-.16-1.86l.24-1.82a3.57,3.57,0,0,1,1-2.19,2.85,2.85,0,0,1,2.06-.72h.55a2.19,2.19,0,0,1,1.8.67A2.87,2.87,0,0,1,227.09,65.9Z" style="fill: #c41230"/>
              <path d="M212.85,62l-4.24,4.81-3-4.77a1.92,1.92,0,0,0-1.72-.66h-1.35l-1.35,11h1.64a1.73,1.73,0,0,0,1.16-.43,1.92,1.92,0,0,0,.64-1.19l.6-4.84,2.2,4.18a1,1,0,0,0,.72.51h0a1.19,1.19,0,0,0,.78-.46l3.34-4.21-.8,6.43h1.58a1.74,1.74,0,0,0,1.16-.43,1.93,1.93,0,0,0,.64-1.19l1.17-9.4h-1.4A2.34,2.34,0,0,0,212.85,62Z" style="fill: #c41230"/>
              <path d="M181.1,61.34a10.07,10.07,0,0,0-1.52.12c-2.74.41-4.22,1.91-4.57,4.44l-.25,1.93a3.69,3.69,0,0,0,.72,3,5.06,5.06,0,0,0,3.91,1.51h3.33a2.24,2.24,0,0,0,2.16-2h-4.41a5.06,5.06,0,0,1-1.58-.2,1.44,1.44,0,0,1-1-1.21,5.1,5.1,0,0,1,0-1.19l.22-1.69a6.23,6.23,0,0,1,.26-1.07,2.46,2.46,0,0,1,.86-1.12,3.8,3.8,0,0,1,2.33-.53H184c1.7,0,2-2,2-2Z" style="fill: #c41230"/>
            </g>
            <text transform="translate(158.81 72.36)" style="font-size: 9.403739929199219px;fill: #c41230;font-family: WorkSans-ExtraLight, Work Sans;letter-spacing: -0.015058004960379436em">b<tspan x="5.53" y="0" style="letter-spacing: -0.02502744272725134em">y</tspan></text>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
